Repository airbnb/streamalert, pull requests merged in 2018-10, with the labels that each got.

#822 function split part 2, adding classifier and normalizer
  conf/types_new.json
  stream_alert/classifier/classifier.py
  stream_alert/classifier/normalize.py
  stream_alert/classifier/parsers.py
  stream_alert/classifier/payload/payload_base.py
  tests/unit/streamalert/classifier/payload/test_payload_base.py
  tests/unit/streamalert/classifier/payload/test_payload_record.py
  tests/unit/streamalert/classifier/test_classifier.py
  tests/unit/streamalert/classifier/test_normalizer.py
  tests/unit/streamalert/classifier/test_parsers_base.py
  tests/unit/streamalert/classifier/test_parsers_csv.py
  tests/unit/streamalert/classifier/test_parsers_json.py
  tests/unit/streamalert/classifier/test_parsers_kv.py
Labels: classifier, data normalization, xlarge

#827 using STS to identify valid AWS credentials instead of env vars
  stream_alert_cli/helpers.py
Labels: small

#824 function split part 4, adding sqs client for function bridge and metrics updates
  conf/clusters/prod.json
  conf/ioc_types.json
  conf/normalized_types.json
  conf/types_new.json
  manage.py
  stream_alert/classifier/classifier.py
  stream_alert/classifier/clients/__init__.py
  stream_alert/classifier/clients/firehose.py
  stream_alert/classifier/clients/sqs.py
  stream_alert/classifier/normalize.py
  stream_alert/classifier/payload/apps.py
  stream_alert/classifier/payload/kinesis.py
  stream_alert/classifier/payload/payload_base.py
  stream_alert/classifier/payload/s3.py
  stream_alert/classifier/payload/sns.py
  stream_alert/shared/config.py
  stream_alert/shared/metrics.py
  stream_alert_cli/config.py
  tests/unit/helpers/base.py
  tests/unit/stream_alert_cli/test_config.py
  tests/unit/stream_alert_shared/test_config.py
  tests/unit/streamalert/classifier/clients/test_sqs.py
  tests/unit/streamalert/classifier/test_classifier.py
  tests/unit/streamalert/classifier/test_normalizer.py
Labels: classifier, large

#826 function split part 5, adding rules engine function
  conf/threat_intel.json
  stream_alert/rule_processor/rules_engine.py
  stream_alert/rules_engine/__init__.py
  stream_alert/rules_engine/alert_forwarder.py
  stream_alert/rules_engine/main.py
  stream_alert/rules_engine/rules_engine.py
  stream_alert/rules_engine/threat_intel.py
  stream_alert/shared/__init__.py
  stream_alert/shared/lookup_tables.py
  stream_alert_cli/helpers.py
  tests/unit/stream_alert_rule_processor/test_rules_engine.py
  tests/unit/stream_alert_shared/test_lookup_tables.py
  tests/unit/streamalert/rules_engine/__init__.py
  tests/unit/streamalert/rules_engine/test_alerter.py
  tests/unit/streamalert/rules_engine/test_rules_engine.py
  tests/unit/streamalert/rules_engine/test_threat_intel.py
Labels: rules engine, threat intelligence, xlarge

#829 terraform for classifier function, metrics, and sqs
  conf/clusters/prod.json
  conf/lambda.json
  docs/source/athena-arch.rst
  docs/source/clusters.rst
  docs/source/getting-started.rst
  manage.py
  stream_alert/rule_processor/threat_intel.py
  stream_alert/shared/__init__.py
  stream_alert_cli/config.py
  stream_alert_cli/manage_lambda/package.py
  stream_alert_cli/runner.py
  stream_alert_cli/terraform/alert_merger.py
  stream_alert_cli/terraform/classifier.py
  stream_alert_cli/terraform/generate.py
  stream_alert_cli/terraform/lambda_module.py
  stream_alert_cli/terraform/metrics.py
  stream_alert_cli/terraform/streamalert.py
  terraform/modules/tf_classifier/README.md
  terraform/modules/tf_classifier/firehose.tf
  terraform/modules/tf_classifier/output.tf
  terraform/modules/tf_classifier/sns.tf
  terraform/modules/tf_classifier/sqs.tf
  terraform/modules/tf_classifier/variables.tf
  terraform/modules/tf_lambda/cloudwatch.tf
  terraform/modules/tf_lambda/output.tf
  terraform/modules/tf_lambda/variables.tf
  terraform/modules/tf_metric_alarms/README.md
  terraform/modules/tf_metric_alarms/main.tf
  terraform/modules/tf_metric_alarms/variables.tf
  terraform/modules/tf_metric_filters/README.md
  terraform/modules/tf_metric_filters/main.tf
  terraform/modules/tf_metric_filters/variables.tf
  terraform/modules/tf_stream_alert_athena/main.tf
  terraform/modules/tf_stream_alert_athena/variables.tf
  terraform/modules/tf_stream_alert_globals/classifier_queue/kms.tf
  terraform/modules/tf_stream_alert_globals/classifier_queue/output.tf
  terraform/modules/tf_stream_alert_globals/classifier_queue/sqs.tf
  terraform/modules/tf_stream_alert_globals/classifier_queue/variables.tf
  terraform/modules/tf_stream_alert_globals/main.tf
  terraform/modules/tf_stream_alert_globals/output.tf
  terraform/modules/tf_stream_alert_globals/variables.tf
  tests/unit/conf/clusters/advanced.json
  tests/unit/conf/clusters/test.json
  tests/unit/conf/clusters/trusted.json
  tests/unit/helpers/base.py
  tests/unit/stream_alert_cli/terraform/test_generate.py
  tests/unit/stream_alert_cli/test_config.py
  tests/unit/streamalert_cli/__init__.py
  tests/unit/streamalert_cli/terraform/__init__.py
  tests/unit/streamalert_cli/terraform/test_generate_classifier.py
Labels: classifier, cli, metrics, terraform, xlarge

#831 general cleanup from the current refactor
  conf/ioc_types.json
  conf/lambda.json
  manage.py
  stream_alert/shared/config.py
  stream_alert/shared/lookup_tables.py
  stream_alert_cli/config.py
  stream_alert_cli/runner.py
  stream_alert_cli/terraform/athena.py
  stream_alert_cli/terraform/lambda_module.py
  stream_alert_cli/terraform/metrics.py
  tests/unit/conf/lambda.json
  tests/unit/conf/normalized_types.json
  tests/unit/conf/threat_intel.json
  tests/unit/helpers/base.py
  tests/unit/helpers/config.py
  tests/unit/stream_alert_cli/manage_lambda/test_rollback.py
  tests/unit/stream_alert_cli/test_cli_config.py
  tests/unit/stream_alert_shared/test_config.py
Labels: medium, tech debt

#832 terraform for rules engine function and generation code
  conf/lambda.json
  stream_alert_cli/manage_lambda/package.py
  stream_alert_cli/terraform/generate.py
  stream_alert_cli/terraform/rules_engine.py
  terraform/modules/tf_rules_engine/README.md
  terraform/modules/tf_rules_engine/iam.tf
  terraform/modules/tf_rules_engine/variables.tf
  tests/unit/conf/lambda.json
  tests/unit/streamalert_cli/terraform/test_generate_rules_engine.py
Labels: medium, rules engine, terraform

#835 [apps] Fixed bug in GSuite event de-duplication
  stream_alert/apps/_apps/gsuite.py
  tests/unit/stream_alert_apps/test_apps/test_gsuite.py
Labels: apps, bug
