Repository airbnb/streamalert, pull requests merged in 2018-02, with the labels that each got.

#596 Create re-usable Lambda Terraform module
  terraform/modules/tf_lambda/README.md
  terraform/modules/tf_lambda/iam.tf
  terraform/modules/tf_lambda/main.tf
  terraform/modules/tf_lambda/metrics.tf
  terraform/modules/tf_lambda/output.tf
  terraform/modules/tf_lambda/variables.tf
  terraform/modules/tf_stream_alert/iam.tf
  terraform/modules/tf_stream_alert_globals/output.tf
  terraform/modules/tf_stream_alert_kinesis_streams/iam.tf
Labels: terraform

#595 [output] Adding support to add notes to incidents
  stream_alert/alert_processor/outputs/pagerduty.py
  tests/unit/stream_alert_alert_processor/test_outputs/test_pagerduty.py
Labels: outputs

#603 Consolidate to a single alert processor (instead of clustered)
  conf/clusters/prod.json
  conf/lambda.json
  conf/logs.json
  conf/sources.json
  stream_alert/rule_processor/sink.py
  stream_alert/shared/metrics.py
  stream_alert_cli/config.py
  stream_alert_cli/helpers.py
  stream_alert_cli/manage_lambda/deploy.py
  stream_alert_cli/manage_lambda/rollback.py
  stream_alert_cli/terraform/_common.py
  stream_alert_cli/terraform/alert_processor.py
  stream_alert_cli/terraform/generate.py
  stream_alert_cli/terraform/metrics.py
  stream_alert_cli/terraform/monitoring.py
  stream_alert_cli/terraform/streamalert.py
  stream_alert_cli/test.py
  terraform/modules/tf_alert_processor_iam/README.md
  terraform/modules/tf_alert_processor_iam/main.tf
  terraform/modules/tf_alert_processor_iam/variables.tf
  terraform/modules/tf_stream_alert/README.md
  terraform/modules/tf_stream_alert/iam.tf
  terraform/modules/tf_stream_alert/main.tf
  terraform/modules/tf_stream_alert/metrics.tf
  terraform/modules/tf_stream_alert/sns.tf
  terraform/modules/tf_stream_alert/variables.tf
  terraform/variables.tf
  tests/unit/conf/clusters/advanced.json
  tests/unit/conf/clusters/test.json
  tests/unit/conf/clusters/trusted.json
  tests/unit/conf/lambda.json
  tests/unit/helpers/base.py
  tests/unit/stream_alert_cli/manage_lambda/__init__.py
  tests/unit/stream_alert_cli/manage_lambda/test_rollback.py
  tests/unit/stream_alert_cli/terraform/test_alert_processor.py
  tests/unit/stream_alert_cli/terraform/test_generate.py
  tests/unit/stream_alert_cli/terraform/test_monitoring.py
  tests/unit/stream_alert_cli/test_config.py
  tests/unit/stream_alert_rule_processor/test_handler.py
  tests/unit/stream_alert_rule_processor/test_sink.py
Labels: breaking change, cli, config, deployment, terraform

#604 Speed up deploys with -auto-approve
  stream_alert_cli/helpers.py
  stream_alert_cli/manage_lambda/deploy.py
  stream_alert_cli/terraform/handler.py
Labels: cli
