Repository airbnb/streamalert, pull requests merged in 2018-04, with the labels that each got.

#670 [cli] adding support for alert table rebuilding
  manage.py
  stream_alert_cli/athena/handler.py
  stream_alert_cli/helpers.py
  stream_alert_cli/terraform/handler.py
  tests/unit/stream_alert_cli/test_helpers.py
Labels: cli, historical search

#672 Bug fix: Slack rule name in message
  stream_alert/alert_processor/outputs/slack.py
Labels: alerting outputs, bug

#675 [cli][bug] fixing lambda test arg that was incorrect
  manage.py
  stream_alert_cli/terraform/athena.py
Labels: bug

#674 [cli][bug] removing bad update to athena lambda config
  stream_alert_cli/athena/handler.py
Labels: bug, cli

#683 [apps] adding backoff to state saving in apps functions config
  app_integrations/config.py
  stream_alert_cli/manage_lambda/package.py
  tests/unit/app_integrations/test_config.py
Labels: apps, bug

#680 docstring updates for consistency
  stream_alert/rule_processor/threat_intel.py
  stream_alert_cli/config.py
  stream_alert_cli/manage_lambda/version.py
  stream_alert_cli/terraform/generate.py
  tests/unit/app_integrations/test_helpers.py
Labels: cli

#684 [threatstream] filter out some indicator subtypes
  manage.py
  stream_alert/threat_intel_downloader/threat_stream.py
  tests/unit/threat_intel_downloader/test_helpers.py
Labels: improvement, threat intelligence

#685 adding logic to perform basic rule statistics
  manage.py
  stream_alert/rule_processor/handler.py
  stream_alert/rule_processor/rules_engine.py
  stream_alert/shared/stats.py
  stream_alert_cli/test.py
Labels: performance

#681 Create and deliver merged alerts!
  stream_alert/alert_merger/main.py
  stream_alert/alert_processor/main.py
  stream_alert/rule_processor/rules_engine.py
  stream_alert/shared/alert.py
  stream_alert/shared/alert_table.py
  terraform/modules/tf_alert_merger_iam/main.tf
  terraform/modules/tf_alert_processor_iam/main.tf
  tests/scripts/convert_test_events.py
  tests/unit/stream_alert_alert_merger/test_main.py
  tests/unit/stream_alert_alert_processor/test_main.py
  tests/unit/stream_alert_rule_processor/test_rules_engine.py
  tests/unit/stream_alert_shared/test_alert.py
  tests/unit/stream_alert_shared/test_alert_table.py
Labels: breaking change

#694 SQS output sends only record and looks up queue URL
  stream_alert/alert_processor/outputs/aws.py
  terraform/modules/tf_alert_processor_iam/main.tf
Labels: alerting outputs

#696 support for adding rule information to dynamo table
  conf/global.json
  manage.py
  stream_alert/shared/rule_table.py
  stream_alert_cli/helpers.py
  stream_alert_cli/manage_lambda/deploy.py
  stream_alert_cli/rule_table.py
  stream_alert_cli/runner.py
  tests/unit/stream_alert_shared/test_rule_table.py
Labels: cli, rules

#698 some doc updates for new rule importing syntax
  docs/source/rules.rst
  stream_alert/rule_processor/handler.py
Labels: documentation

#703 [cli] adding stage subcommand to rule-table command
  manage.py
  stream_alert_cli/logger.py
  stream_alert_cli/rule_table.py
  stream_alert_cli/runner.py
Labels: cli, rule staging

#705 adding subparser generation helper to reduce redundancy
  manage.py
Labels: cli, improvement

#706 [cli] deploy flags to support --stage-rules and --stage-rules during deploy
  manage.py
  stream_alert_cli/manage_lambda/deploy.py
  stream_alert_cli/rule_table.py
Labels: cli, deployment, rule staging

#700 exclude specified threat intel from dynamo lookups
  stream_alert/rule_processor/threat_intel.py
  stream_alert/shared/helpers.py
  tests/unit/conf/global.json
  tests/unit/stream_alert_rule_processor/test_handler.py
  tests/unit/stream_alert_rule_processor/test_threat_intel.py
Labels: improvement, threat intelligence

#707 config consolidation/removal of tech debt
  conf/global.json
  conf/lambda.json
  stream_alert/alert_processor/main.py
  stream_alert/athena_partition_refresh/main.py
  stream_alert/rule_processor/config.py
  stream_alert/rule_processor/handler.py
  stream_alert/shared/config.py
  stream_alert/threat_intel_downloader/exceptions.py
  stream_alert/threat_intel_downloader/main.py
  stream_alert_cli/config.py
  stream_alert_cli/outputs.py
  stream_alert_cli/runner.py
  stream_alert_cli/test.py
  tests/unit/conf/lambda.json
  tests/unit/stream_alert_alert_processor/__init__.py
  tests/unit/stream_alert_alert_processor/test_main.py
  tests/unit/stream_alert_alert_processor/test_outputs/test_aws.py
  tests/unit/stream_alert_alert_processor/test_outputs/test_github.py
  tests/unit/stream_alert_alert_processor/test_outputs/test_jira.py
  tests/unit/stream_alert_alert_processor/test_outputs/test_komand.py
  tests/unit/stream_alert_alert_processor/test_outputs/test_output_base.py
  tests/unit/stream_alert_alert_processor/test_outputs/test_pagerduty.py
  tests/unit/stream_alert_alert_processor/test_outputs/test_phantom.py
  tests/unit/stream_alert_alert_processor/test_outputs/test_slack.py
  tests/unit/stream_alert_athena_partition_refresh/test_main.py
  tests/unit/stream_alert_cli/terraform/test_generate.py
  tests/unit/stream_alert_cli/terraform/test_s3_events.py
  tests/unit/stream_alert_cli/test_outputs.py
  tests/unit/stream_alert_rule_processor/test_classifier.py
  tests/unit/stream_alert_rule_processor/test_config.py
  tests/unit/stream_alert_rule_processor/test_firehose.py
  tests/unit/stream_alert_rule_processor/test_handler.py
  tests/unit/stream_alert_rule_processor/test_parsers.py
  tests/unit/stream_alert_rule_processor/test_rules_engine.py
  tests/unit/stream_alert_rule_processor/test_threat_intel.py
  tests/unit/stream_alert_shared/test_config.py
  tests/unit/threat_intel_downloader/__init__.py
  tests/unit/threat_intel_downloader/test_helpers.py
  tests/unit/threat_intel_downloader/test_main.py
  tests/unit/threat_intel_downloader/test_threat_stream.py
Labels: config, improvement

#710 rule processor - adding check for staged rules
  conf/global.json
  manage.py
  stream_alert/rule_processor/handler.py
  stream_alert/rule_processor/rules_engine.py
  stream_alert/shared/rule.py
  stream_alert/shared/rule_table.py
  stream_alert/shared/stats.py
  tests/unit/stream_alert_rule_processor/test_rules_engine.py
  tests/unit/stream_alert_shared/test_rule.py
  tests/unit/stream_alert_shared/test_rule_table.py
  tests/unit/stream_alert_shared/test_stats.py
Labels: cli, rule staging
