Repository airbnb/streamalert, pull requests merged in 2018-12, with the labels that each got.

#853 remove 'matcher' decorator in favor of direct matcher designation
  docs/source/rules.rst
  rules/community/cloudtrail/cloudtrail_put_object_acl_public.py
  rules/community/cloudtrail/cloudtrail_security_group_ingress_anywhere.py
  rules/community/duo_administrator/duo_bypass_code_create_non_auto_generated.py
  rules/community/duo_administrator/duo_bypass_code_create_non_expiring.py
  rules/community/duo_administrator/duo_bypass_code_create_unlimited_use.py
  rules/community/guardduty/guard_duty_all.py
  rules/community/mitre_attack/defense_evasion/multi/obfuscated_files_or_information/right_to_left_character.py
  rules/helpers/__init__.py
  rules/helpers/base.py
  rules/matchers/__init__.py
  rules/matchers/matchers.py
  stream_alert/shared/rule.py
  stream_alert_cli/test/handler.py
  tests/scripts/pylint.sh
  tests/unit/stream_alert_shared/test_rule.py
  tests/unit/streamalert/rules_engine/test_rules_engine.py
Labels: documentation, matchers, rules

#855 [bug] updating terraform generate code, and deploy/rollback logic, for apps
  stream_alert_cli/manage_lambda/deploy.py
  stream_alert_cli/manage_lambda/rollback.py
  stream_alert_cli/terraform/apps.py
  stream_alert_cli/terraform/monitoring.py
  tests/unit/stream_alert_cli/manage_lambda/test_rollback.py
  tests/unit/stream_alert_cli/terraform/test_monitoring.py
Labels: apps, bug, terraform

#859 [bug] fixing a bug with matchers and helpers packaging in the rules engine
  stream_alert_cli/manage_lambda/package.py
Labels: bug

#860 [bug] remove 'helpers' from alert merger and processor package files
  stream_alert_cli/manage_lambda/package.py
Labels: bug, deployment

#854 update normalization logic to store raw values instead of paths to values in json
  docs/source/rules.rst
  rules/community/mitre_attack/defense_evasion/multi/obfuscated_files_or_information/right_to_left_character.py
  rules/helpers/base.py
  stream_alert/alert_processor/main.py
  stream_alert/classifier/classifier.py
  stream_alert/rules_engine/threat_intel.py
  stream_alert/shared/__init__.py
  stream_alert/shared/normalize.py
  stream_alert/shared/utils.py
  tests/unit/stream_alert_alert_processor/test_main.py
  tests/unit/stream_alert_shared/test_normalizer.py
  tests/unit/streamalert/rules_engine/test_threat_intel.py
Labels: breaking change, data normalization, medium, threat intelligence

#862 [bug] removing threat_intel packaging third party packages from config
  stream_alert_cli/config.py
  tests/unit/stream_alert_cli/test_cli_config.py
Labels: bug, deployment, threat intelligence

#864 [bug] fixing bug with custom metric alarm generation
  stream_alert_cli/terraform/generate.py
  stream_alert_cli/terraform/metrics.py
Labels: bug, terraform
