Repository airbnb/streamalert, pull requests merged in 2018-08, with the labels that each got.

#798 [rule-staging] only creating rules table if rule staging is enabled
  stream_alert_cli/terraform/generate.py
  stream_alert_cli/terraform/rule_promotion.py
  terraform/modules/tf_stream_alert/iam.tf
  terraform/modules/tf_stream_alert_globals/main.tf
  terraform/modules/tf_stream_alert_globals/output.tf
  terraform/modules/tf_stream_alert_globals/variables.tf
  tests/unit/stream_alert_cli/terraform/test_rule_promotion.py
Labels: rule staging

#799 removing trailing comma typo in comment
  stream_alert_cli/terraform/rule_promotion.py
Labels: cli

#801 [docs] rule staging and promo documentation
  docs/source/index.rst
  docs/source/rule-promotion.rst
  docs/source/rule-staging.rst
  manage.py
  stream_alert/rule_processor/rules_engine.py
  stream_alert_cli/config.py
  stream_alert_cli/rule_table.py
  stream_alert_cli/runner.py
Labels: cli, documentation

#802 Update schema 08102018
  conf/logs.json
  tests/integration/rules/mitre_attack/right_to_left_character.json
Labels: log schemas

#806 updating the athena partition refresh function to use sqs as event source
  conf/lambda.json
  stream_alert/athena_partition_refresh/clients.py
  stream_alert/athena_partition_refresh/main.py
  stream_alert_cli/terraform/athena.py
  stream_alert_cli/terraform/generate.py
  terraform/modules/tf_stream_alert_athena/main.tf
  terraform/modules/tf_stream_alert_athena/variables.tf
  tests/unit/stream_alert_athena_partition_refresh/test_clients.py
  tests/unit/stream_alert_athena_partition_refresh/test_main.py
  tests/unit/stream_alert_cli/terraform/test_athena.py
Labels: athena, historical search, tech debt

#808 [tf][athena] removing cloudwatch event rule and target
  stream_alert_cli/terraform/athena.py
  terraform/modules/tf_stream_alert_athena/main.tf
  terraform/modules/tf_stream_alert_athena/variables.tf
  tests/unit/stream_alert_cli/terraform/test_athena.py
Labels: athena, historical search, tech debt

#807 [tf][firehose] support per firehose metric alarms for IncomingRecords
  conf/global.json
  docs/source/firehose.rst
  stream_alert/rule_processor/firehose.py
  stream_alert/rule_processor/handler.py
  stream_alert_cli/athena/handler.py
  stream_alert_cli/helpers.py
  stream_alert_cli/terraform/firehose.py
  stream_alert_cli/terraform/generate.py
  terraform/modules/tf_stream_alert_kinesis_firehose_delivery_stream/main.tf
  terraform/modules/tf_stream_alert_kinesis_firehose_delivery_stream/variables.tf
  tests/unit/conf/global.json
  tests/unit/stream_alert_cli/terraform/test_firehose.py
  tests/unit/stream_alert_cli/terraform/test_generate.py
  tests/unit/stream_alert_rule_processor/test_firehose.py
Labels: documentation, metrics, terraform

#809 updating readme to reflect new doc updates
  .gitignore
  README.rst
Labels: documentation

#810 [athena] fixing logger format string and using lambda alias for invocation
  stream_alert/athena_partition_refresh/main.py
  terraform/modules/tf_stream_alert_athena/main.tf
Labels: athena, bug, historical search

#811 fixing bug where apps could time out between gather calls
  stream_alert/apps/app_base.py
Labels: apps, bug
