Repository airbnb/streamalert, pull requests merged in 2018-05, with the labels that each got.

#712 assortment of small fixes to rule staging
  manage.py
  stream_alert/shared/rule.py
  terraform/modules/tf_stream_alert/iam.tf
Labels: cli, rule staging

#714 using rules table arn from tf globals module
  stream_alert_cli/terraform/streamalert.py
  terraform/modules/tf_stream_alert/iam.tf
  terraform/modules/tf_stream_alert/variables.tf
  terraform/modules/tf_stream_alert_globals/output.tf
  tests/unit/stream_alert_cli/terraform/test_generate.py
Labels: terraform

#713 Add a Carbon Black output for hash banning using the CBAPI
  requirements-top-level.txt
  requirements.txt
  stream_alert/alert_processor/outputs/carbonblack.py
  stream_alert_cli/manage_lambda/package.py
  tests/unit/stream_alert_alert_processor/test_outputs/test_carbonblack.py
  tests/unit/stream_alert_alert_processor/test_outputs/test_output_base.py
Labels: alerting outputs, feature request

#716 updates to make athena client portable for use in other packages
  stream_alert/athena_partition_refresh/clients.py
  stream_alert/athena_partition_refresh/main.py
  stream_alert/shared/athena.py
  stream_alert_cli/athena/handler.py
  tests/unit/conf/lambda.json
  tests/unit/helpers/aws_mocks.py
  tests/unit/stream_alert_athena_partition_refresh/test_clients.py
  tests/unit/stream_alert_athena_partition_refresh/test_main.py
  tests/unit/stream_alert_shared/test_athena.py
Labels: rule staging

#722 Fix small bugs in CarbonBlack/Slack/PagerDuty outputs
  stream_alert/alert_processor/outputs/carbonblack.py
  stream_alert/alert_processor/outputs/pagerduty.py
  stream_alert/alert_processor/outputs/slack.py
Labels: alerting outputs

#726 Update Requirements and Fix Testing Deprecations
  requirements-top-level.txt
  requirements.txt
  tests/unit/stream_alert_cli/test_config.py
  tests/unit/stream_alert_shared/test_config.py
  tests/unit/stream_alert_shared/test_rule.py
Labels: build/test

#725 better alert processor output success/failure logging
  docs/source/outputs.rst
  stream_alert/alert_processor/main.py
  stream_alert/alert_processor/outputs/aws.py
  stream_alert/alert_processor/outputs/carbonblack.py
  stream_alert/alert_processor/outputs/github.py
  stream_alert/alert_processor/outputs/jira.py
  stream_alert/alert_processor/outputs/komand.py
  stream_alert/alert_processor/outputs/output_base.py
  stream_alert/alert_processor/outputs/pagerduty.py
  stream_alert/alert_processor/outputs/phantom.py
  stream_alert/alert_processor/outputs/slack.py
  tests/unit/stream_alert_alert_processor/test_main.py
  tests/unit/stream_alert_alert_processor/test_outputs/test_aws.py
  tests/unit/stream_alert_alert_processor/test_outputs/test_carbonblack.py
  tests/unit/stream_alert_alert_processor/test_outputs/test_github.py
  tests/unit/stream_alert_alert_processor/test_outputs/test_jira.py
  tests/unit/stream_alert_alert_processor/test_outputs/test_komand.py
  tests/unit/stream_alert_alert_processor/test_outputs/test_pagerduty.py
  tests/unit/stream_alert_alert_processor/test_outputs/test_phantom.py
  tests/unit/stream_alert_alert_processor/test_outputs/test_slack.py
Labels: alerting outputs, improvement

#731 fixing bug where slack messages would split on each character if no newline existed
  stream_alert/alert_processor/outputs/slack.py
  tests/unit/stream_alert_alert_processor/test_outputs/test_slack.py
Labels: alerting outputs, bug

#732 [payload] shred the tmp directoy before downloading s3 objects
  stream_alert/rule_processor/payload.py
  stream_alert_cli/test.py
  tests/unit/stream_alert_rule_processor/test_payload.py
Labels: bug, lambda

#728 updating threatstream downloader to be more unified class
  stream_alert/threat_intel_downloader/__init__.py
  stream_alert/threat_intel_downloader/main.py
  stream_alert/threat_intel_downloader/threat_stream.py
  stream_alert_cli/threat_intel_downloader/handler.py
  tests/unit/app_integrations/test_apps/test_salesforce.py
  tests/unit/app_integrations/test_helpers.py
  tests/unit/stream_alert_athena_partition_refresh/test_clients.py
  tests/unit/stream_alert_athena_partition_refresh/test_main.py
  tests/unit/threat_intel_downloader/__init__.py
  tests/unit/threat_intel_downloader/test_helpers.py
  tests/unit/threat_intel_downloader/test_main.py
  tests/unit/threat_intel_downloader/test_threat_stream.py
Labels: threat intelligence

#729 [tf - s3 events] use unique names for role policy and lambda perm
  terraform/modules/tf_stream_alert_s3_events/main.tf
Labels: terraform

#733 updating some slow unit tests
  tests/unit/app_integrations/test_apps/test_app_base.py
  tests/unit/stream_alert_rule_processor/test_payload.py
Labels: improvement, tests

#734 [tf] send message to SNS topic when alarms recover
  terraform/modules/tf_stream_alert_monitoring/main.tf
Labels: terraform

#737 [firehose] only retry failed records when re-calling put_record_batch
  stream_alert/rule_processor/firehose.py
  tests/unit/stream_alert_rule_processor/test_firehose.py
Labels: improvement

#740 [firehose] fixing logger message to print count of messages being tried
  stream_alert/rule_processor/firehose.py
  tests/unit/stream_alert_rule_processor/test_firehose.py
Labels: bug

#741 Support Space Delimited Logs
  stream_alert/rule_processor/parsers.py
  tests/unit/stream_alert_rule_processor/test_parsers.py
Labels: bug, classifier

#744 [tf][cli] add cross-account cloudwatch logs support
  stream_alert_cli/terraform/cloudwatch.py
  stream_alert_cli/terraform/generate.py
  terraform/modules/tf_stream_alert_cloudwatch/README.md
  terraform/modules/tf_stream_alert_cloudwatch/iam.tf
  terraform/modules/tf_stream_alert_cloudwatch/main.tf
  terraform/modules/tf_stream_alert_cloudwatch/variables.tf
  tests/unit/conf/clusters/advanced.json
  tests/unit/stream_alert_cli/terraform/test_generate.py
Labels: cli, datasources, terraform

#745 [parsers] add cloudtrail via cloudwatch logs support
  conf/logs.json
  stream_alert/rule_processor/parsers.py
  tests/integration/rules/cloudwatch/cloudtrail_via_cloudwatch.json
  tests/unit/conf/logs.json
  tests/unit/stream_alert_rule_processor/test_parsers.py
Labels: config, log parsers, log schemas

#746 [tf] shortening resource name due to 64 char limit and adding role arn output
  terraform/modules/tf_stream_alert_cloudwatch/iam.tf
  terraform/modules/tf_stream_alert_cloudwatch/outputs.tf
Labels: terraform

#750 [tf] cloudtrail to cloudwatch to kinesis support
  stream_alert_cli/terraform/cloudtrail.py
  terraform/modules/tf_stream_alert_cloudtrail/main.tf
  terraform/modules/tf_stream_alert_cloudtrail/variables.tf
  tests/unit/stream_alert_cli/terraform/test_generate.py
Labels: terraform

#752 [tf] fixing bug with policy resource value
  stream_alert_cli/terraform/cloudtrail.py
  terraform/modules/tf_stream_alert_cloudtrail/main.tf
  terraform/modules/tf_stream_alert_cloudtrail/variables.tf
  terraform/modules/tf_stream_alert_cloudwatch/iam.tf
  terraform/modules/tf_stream_alert_cloudwatch/outputs.tf
Labels: terraform

#753 [cli][tf] adding ability to send cloudtrail to another cluster's cloudwatch destination
  stream_alert_cli/terraform/cloudtrail.py
  terraform/modules/tf_stream_alert_cloudtrail/main.tf
  terraform/modules/tf_stream_alert_cloudtrail/variables.tf
Labels: cli, terraform

#754 [parsers] support csv embedded within json logs
  conf/logs.json
  stream_alert/rule_processor/parsers.py
  tests/integration/rules/cloudwatch/cloudtrail_via_cloudwatch.json
  tests/integration/rules/cloudwatch/rds_aurora_via_cloudwatch.json
  tests/unit/stream_alert_rule_processor/test_parsers.py
Labels: log parsers, logs

#756 Add random_bool helper function
  helpers/base.py
  setup.cfg
  stream_alert_cli/test.py
  tests/unit/stream_alert_rule_processor/test_rule_helpers.py
Labels: helpers
