Repository airbnb/streamalert, pull requests merged in 2018-03, with the labels that each got.

#614 [output] PagerDuty fix for merging alert into incident
  stream_alert/alert_processor/outputs/pagerduty.py
  tests/unit/stream_alert_alert_processor/test_outputs/test_pagerduty.py
Labels: outputs

#617 [output] Fix for PUT request bug
  stream_alert/alert_processor/outputs/output_base.py
  stream_alert/alert_processor/outputs/pagerduty.py
Labels: outputs

#620 Add SNS and SQS outputs
  .pylintrc
  conf/lambda.json
  conf/outputs.json
  docs/source/outputs.rst
  manage.py
  stream_alert/alert_processor/main.py
  stream_alert/alert_processor/outputs/aws.py
  stream_alert/alert_processor/outputs/github.py
  stream_alert/alert_processor/outputs/jira.py
  stream_alert/alert_processor/outputs/komand.py
  stream_alert/alert_processor/outputs/output_base.py
  stream_alert/alert_processor/outputs/pagerduty.py
  stream_alert/alert_processor/outputs/phantom.py
  stream_alert/alert_processor/outputs/slack.py
  stream_alert_cli/terraform/alert_processor.py
  terraform/modules/tf_alert_processor_iam/README.md
  terraform/modules/tf_alert_processor_iam/main.tf
  terraform/modules/tf_alert_processor_iam/variables.tf
  tests/unit/conf/lambda.json
  tests/unit/conf/outputs.json
  tests/unit/stream_alert_alert_processor/__init__.py
  tests/unit/stream_alert_alert_processor/test_main.py
  tests/unit/stream_alert_alert_processor/test_outputs/test_aws.py
  tests/unit/stream_alert_alert_processor/test_outputs/test_github.py
  tests/unit/stream_alert_alert_processor/test_outputs/test_jira.py
  tests/unit/stream_alert_alert_processor/test_outputs/test_komand.py
  tests/unit/stream_alert_alert_processor/test_outputs/test_output_base.py
  tests/unit/stream_alert_alert_processor/test_outputs/test_pagerduty.py
  tests/unit/stream_alert_alert_processor/test_outputs/test_phantom.py
  tests/unit/stream_alert_alert_processor/test_outputs/test_slack.py
  tests/unit/stream_alert_cli/terraform/test_alert_processor.py
  tests/unit/stream_alert_cli/test_outputs.py
Labels: outputs

#622 [tf] Ignore .tf.json files
  .gitignore
Labels: config

#626 Add alert UUID and use it in SNS subject
  rules/community/binaryalert/binaryalert_yara_match.py
  stream_alert/alert_processor/helpers.py
  stream_alert/alert_processor/main.py
  stream_alert/alert_processor/outputs/aws.py
  stream_alert/rule_processor/rules_engine.py
  tests/unit/stream_alert_alert_processor/helpers.py
  tests/unit/stream_alert_alert_processor/test_helpers.py
  tests/unit/stream_alert_rule_processor/test_rules_engine.py
Labels: outputs

#599 [athena] changes to make athena part of a default deployment
  conf/global.json
  conf/lambda.json
  conf/logs.json
  docs/source/athena-arch.rst
  docs/source/athena-setup.rst
  docs/source/athena-user-guide.rst
  docs/source/index.rst
  manage.py
  stream_alert/athena_partition_refresh/main.py
  stream_alert/rule_processor/firehose.py
  stream_alert_cli/athena/handler.py
  stream_alert_cli/config.py
  stream_alert_cli/manage_lambda/deploy.py
  stream_alert_cli/terraform/athena.py
  stream_alert_cli/terraform/handler.py
  terraform/modules/tf_stream_alert_athena/iam.tf
  terraform/modules/tf_stream_alert_athena/main.tf
  terraform/modules/tf_stream_alert_athena/variables.tf
  tests/unit/conf/lambda.json
  tests/unit/helpers/base.py
  tests/unit/stream_alert_athena_partition_refresh/test_main.py
  tests/unit/stream_alert_cli/terraform/test_athena.py
Labels: cli, documentation, historical search, terraform

#637 [athena] fixing athena results bucket tag name
  terraform/modules/tf_stream_alert_athena/main.tf
Labels: bug, terraform

#639 [athena] fixing when the create_table gets called
  stream_alert_cli/terraform/handler.py
Labels: bug, build/test, historical search

#641 Rule Test Templates
  docs/source/rule-testing.rst
  stream_alert/rule_processor/parsers.py
  stream_alert_cli/helpers.py
  stream_alert_cli/test.py
  tests/integration/rules/binaryalert/binaryalert_yara_match.json
  tests/integration/rules/box/box_admin_events.json
  tests/integration/rules/cloudtrail/cloudtrail_critical_api_calls.json
  tests/integration/rules/cloudtrail/cloudtrail_mfa_policy_abuse_attempt.json
  tests/integration/rules/cloudtrail/cloudtrail_network_acl_ingress_anywhere.json
  tests/integration/rules/cloudtrail/cloudtrail_put_bucket_acl.json
  tests/integration/rules/cloudtrail/cloudtrail_put_object_acl_public.json
  tests/integration/rules/cloudtrail/cloudtrail_root_account_usage.json
  tests/integration/rules/cloudtrail/cloudtrail_security_group_ingress_anywhere.json
  tests/integration/rules/cloudwatch/cloudwatch_control_message.json
  tests/integration/rules/duo/duo_anonymous_ip_failure.json
  tests/integration/rules/duo/duo_bypass_code_create_non_auto_generated.json
  tests/integration/rules/duo/duo_bypass_code_create_non_expiring.json
  tests/integration/rules/duo/duo_bypass_code_create_unlimited_use.json
  tests/integration/rules/duo/duo_fraud.json
  tests/integration/rules/github/github_disable_dismiss_stale_pull_request_approvals.json
  tests/integration/rules/github/github_disable_protect_this_branch.json
  tests/integration/rules/github/github_disable_required_pull_request_reviews.json
  tests/integration/rules/github/github_disable_required_status_checks.json
  tests/integration/rules/github/github_disable_two_factor_requirement_org.json
  tests/integration/rules/github/github_disable_two_factor_requirement_user.json
  tests/integration/rules/github/github_oauth_application_create.json
  tests/integration/rules/github/github_site_admin_action.json
  tests/integration/rules/github/github_site_admin_user_promotion.json
  tests/integration/rules/gsuite/gsuite_admin.json
  tests/integration/rules/guardduty/guard_duty_all.json
  tests/integration/rules/mitre_attack/right_to_left_character.json
  tests/integration/rules/onelogin/onelogin_events_assumed_role.json
  tests/scripts/convert_test_events.py
  tests/unit/stream_alert_cli/test_helpers.py
Labels: cli, improvement

#646 [cli] test rule template bug fix
  stream_alert_cli/test.py
Labels: bug, cli

#647 Fix bugs introduced from #642
  stream_alert/alert_processor/outputs/output_base.py
  stream_alert_cli/helpers.py
  tests/unit/stream_alert_alert_merger/test_main.py
Labels: bug, build/test

#649 small optimization to avoid multiple recursive calls
  stream_alert/rule_processor/firehose.py
  stream_alert/rule_processor/threat_intel.py
Labels: improvement, performance

#652 [output] Reducing the PagerDuty API requests per alert
  stream_alert/alert_processor/outputs/pagerduty.py
  tests/unit/stream_alert_alert_processor/test_outputs/test_pagerduty.py
  tests/unit/stream_alert_rule_processor/test_rules_engine.py
Labels: alerting outputs

#653 More efficient helper functions and alert merger bug fix
  helpers/base.py
  rules/community/cloudtrail/cloudtrail_critical_api_calls.py
  rules/community/cloudtrail/cloudtrail_mfa_policy_abuse_attempt.py
  rules/community/cloudtrail/cloudtrail_put_bucket_acl.py
  rules/community/cloudtrail/cloudtrail_put_object_acl_public.py
  rules/community/cloudtrail/cloudtrail_security_group_ingress_anywhere.py
  rules/community/github/github_disable_required_pull_request_reviews.py
  stream_alert/alert_merger/main.py
  tests/unit/stream_alert_rule_processor/test_rule_helpers.py
Labels: helpers, performance, rules

#660 [output] Fix for alert processor cli and pagerduty incidents
  stream_alert_cli/test.py
Labels: alerting outputs
