Repository airbnb/streamalert, pull requests merged in 2018-06, with the labels that each got.

#757 [apps] fixing terraform bug where app iam would not be targeted during deploy
  stream_alert_cli/manage_lambda/deploy.py
Labels: bug

#759 Enable server-side encryption for alerts/rules tables and SQS
  stream_alert_cli/terraform/athena.py
  terraform/modules/tf_stream_alert_athena/iam.tf
  terraform/modules/tf_stream_alert_athena/kms.tf
  terraform/modules/tf_stream_alert_athena/main.tf
  terraform/modules/tf_stream_alert_athena/variables.tf
  terraform/modules/tf_stream_alert_globals/main.tf
  tests/unit/stream_alert_cli/terraform/test_athena.py
Labels: terraform

#760 using absolute import to get rid of aws lambda import warning
  app_integrations/main.py
Labels: improvement

#761 Remove Lambda source bucket
  .gitignore
  conf/global.json
  conf/lambda.json
  docs/source/lambda.rst
  stream_alert_cli/config.py
  stream_alert_cli/manage_lambda/deploy.py
  stream_alert_cli/manage_lambda/package.py
  stream_alert_cli/manage_lambda/version.py
  stream_alert_cli/terraform/alert_merger.py
  stream_alert_cli/terraform/alert_processor.py
  stream_alert_cli/terraform/app_integrations.py
  stream_alert_cli/terraform/athena.py
  stream_alert_cli/terraform/generate.py
  stream_alert_cli/terraform/lambda_module.py
  stream_alert_cli/terraform/streamalert.py
  stream_alert_cli/terraform/threat_intel_downloader.py
  terraform/modules/tf_lambda/README.md
  terraform/modules/tf_lambda/main.tf
  terraform/modules/tf_lambda/variables.tf
  terraform/modules/tf_stream_alert/README.md
  terraform/modules/tf_stream_alert/main.tf
  terraform/modules/tf_stream_alert/variables.tf
  terraform/modules/tf_stream_alert_athena/main.tf
  terraform/modules/tf_stream_alert_athena/variables.tf
  terraform/modules/tf_threat_intel_downloader/main.tf
  terraform/modules/tf_threat_intel_downloader/variables.tf
  terraform/variables.tf
  tests/unit/conf/lambda.json
  tests/unit/helpers/base.py
  tests/unit/stream_alert_cli/terraform/test_alert_processor.py
  tests/unit/stream_alert_cli/terraform/test_athena.py
  tests/unit/stream_alert_cli/terraform/test_generate.py
  tests/unit/stream_alert_cli/test_config.py
  tests/unit/stream_alert_cli/test_version.py
  tests/unit/threat_intel_downloader/test_main.py
Labels: cli, terraform

#762 Remove Lambda versions and handlers from config
  conf/clusters/prod.json
  conf/lambda.json
  docs/source/app-auth-update.rst
  docs/source/clusters.rst
  docs/source/lambda.rst
  manage.py
  stream_alert_cli/config.py
  stream_alert_cli/helpers.py
  stream_alert_cli/manage_lambda/deploy.py
  stream_alert_cli/manage_lambda/package.py
  stream_alert_cli/manage_lambda/rollback.py
  stream_alert_cli/manage_lambda/version.py
  stream_alert_cli/terraform/alert_merger.py
  stream_alert_cli/terraform/alert_processor.py
  stream_alert_cli/terraform/app_integrations.py
  stream_alert_cli/terraform/athena.py
  stream_alert_cli/terraform/lambda_module.py
  stream_alert_cli/terraform/streamalert.py
  stream_alert_cli/terraform/threat_intel_downloader.py
  terraform/__init__.py
  terraform/modules/tf_lambda/variables.tf
  terraform/modules/tf_stream_alert/main.tf
  terraform/modules/tf_stream_alert/variables.tf
  terraform/modules/tf_stream_alert_athena/main.tf
  terraform/modules/tf_stream_alert_athena/variables.tf
  terraform/modules/tf_threat_intel_downloader/main.tf
  terraform/modules/tf_threat_intel_downloader/variables.tf
  terraform/variables.tf
  tests/unit/conf/clusters/advanced.json
  tests/unit/conf/clusters/test.json
  tests/unit/conf/clusters/trusted.json
  tests/unit/conf/lambda.json
  tests/unit/helpers/base.py
  tests/unit/stream_alert_cli/manage_lambda/test_rollback.py
  tests/unit/stream_alert_cli/terraform/test_alert_processor.py
  tests/unit/stream_alert_cli/terraform/test_athena.py
  tests/unit/stream_alert_cli/terraform/test_generate.py
  tests/unit/stream_alert_cli/test_config.py
  tests/unit/stream_alert_cli/test_version.py
  tests/unit/threat_intel_downloader/test_main.py
Labels: config, terraform

#769 no longer double-encoding event pattern json for cloudtrail config
  stream_alert_cli/terraform/cloudtrail.py
  tests/unit/stream_alert_cli/terraform/test_generate.py
Labels: terraform

#770 Make terraform state and s3 logging buckets configurable
  conf/global.json
  stream_alert_cli/config.py
  stream_alert_cli/terraform/generate.py
  tests/unit/conf/global.json
  tests/unit/helpers/base.py
  tests/unit/stream_alert_cli/terraform/test_generate.py
Labels: cli, terraform

#773 updating requirements.txt to remove bad/used requirements
  requirements-top-level.txt
  requirements.txt
Labels: build/test

#774 initial code for rule promotion lambda function
  requirements-top-level.txt
  requirements.txt
  stream_alert/athena_partition_refresh/main.py
  stream_alert/rule_promotion/__init__.py
  stream_alert/rule_promotion/main.py
  stream_alert/rule_promotion/promoter.py
  stream_alert/rule_promotion/publisher.py
  stream_alert/rule_promotion/statistic.py
  stream_alert/shared/__init__.py
  stream_alert/shared/alert_table.py
  stream_alert/shared/athena.py
  stream_alert/shared/helpers/__init__.py
  stream_alert/shared/helpers/dynamodb.py
  stream_alert/shared/rule_table.py
  stream_alert_cli/athena/handler.py
  stream_alert_cli/manage_lambda/package.py
  tests/unit/conf/lambda.json
  tests/unit/stream_alert_rule_promotion/__init__.py
  tests/unit/stream_alert_rule_promotion/test_promoter.py
  tests/unit/stream_alert_rule_promotion/test_publisher.py
  tests/unit/stream_alert_rule_promotion/test_statistic.py
  tests/unit/stream_alert_shared/test_athena.py
  tests/unit/stream_alert_shared/test_rule_table.py
Labels: rule staging

#775 CloudTrail and Athena buckets use configured S3 logging destination
  stream_alert_cli/terraform/athena.py
  stream_alert_cli/terraform/cloudtrail.py
Labels: alerting outputs

#777 allow for null/NoneType values during type conversion
  stream_alert/rule_processor/classifier.py
  stream_alert_cli/helpers.py
  stream_alert_cli/test.py
Labels: classifier
