Repository airbnb/streamalert, pull requests merged in 2019-05, with the labels that each got.

#935 Make PagerDuty output idempotent; adds support for responder requests
  stream_alert/alert_processor/outputs/output_base.py
  stream_alert/alert_processor/outputs/pagerduty.py
  tests/unit/stream_alert_alert_processor/test_outputs/test_pagerduty.py
Labels: alerting outputs

#936 Logsource fleet
  conf/logs.json
  conf/sources.json
  rules/community/fleet/__init__.py
  rules/community/fleet/fleet_bad_action.py
  tests/integration/rules/fleet/fleet_bad_action.json
Labels: log schemas, logs, rules

#937 [apps] add Intercom app integration
  docs/source/app-configuration.rst
  stream_alert/apps/_apps/README.rst
  stream_alert/apps/_apps/intercom.py
  tests/unit/stream_alert_apps/test_apps/test_app_base.py
  tests/unit/stream_alert_apps/test_apps/test_intercom.py
Labels: apps, documentation
