Repository airbnb/streamalert, pull requests merged in 2019-01, with the labels that each got.

#867 [bug] adding list serialization for sets to messages sent to sqs
  stream_alert/__init__.py
  stream_alert/alert_merger/main.py
  stream_alert/shared/alert.py
  stream_alert/shared/normalize.py
  tests/unit/stream_alert_shared/test_alert.py
  tests/unit/stream_alert_shared/test_normalizer.py
Labels: bug, classifier

#868 Small fixes; pass cli args to rule_test.sh
  stream_alert/athena_partition_refresh/main.py
  stream_alert/rules_engine/alert_forwarder.py
  tests/scripts/rule_test.sh
  tests/unit/stream_alert_athena_partition_refresh/test_main.py
Labels: improvement

#880 catching errors in firehose and sqs clients to be retried
  stream_alert/classifier/clients/firehose.py
  stream_alert/classifier/clients/sqs.py
  stream_alert_cli/helpers.py
  stream_alert_cli/terraform/handlers.py
Labels: classifier

#884 fixing bug related to updating app auth information
  docs/source/app-configuration.rst
  stream_alert/apps/_apps/duo.py
  stream_alert_cli/apps/handler.py
  stream_alert_cli/apps/helpers.py
  stream_alert_cli/config.py
Labels: apps, bug
