Repository airbnb/streamalert, pull requests merged in 2019-09, with the labels that each got.

#994 fix bug with joining non-string values
  stream_alert/classifier/parsers.py
  tests/unit/streamalert/classifier/test_parsers_base.py
Labels: bug, log parsers

#969 [LookupTables] Phase 1 implementation of LookupTables rebuild
  conf/lookup_tables.json
  stream_alert/rules_engine/rules_engine.py
  stream_alert/shared/config.py
  stream_alert/shared/lookup_tables.py
  stream_alert/shared/lookup_tables/__init__.py
  stream_alert/shared/lookup_tables/cache.py
  stream_alert/shared/lookup_tables/configuration.py
  stream_alert/shared/lookup_tables/core.py
  stream_alert/shared/lookup_tables/driver_dynamodb.py
  stream_alert/shared/lookup_tables/driver_s3.py
  stream_alert/shared/lookup_tables/drivers.py
  stream_alert/shared/lookup_tables/drivers_factory.py
  stream_alert/shared/lookup_tables/errors.py
  stream_alert/shared/lookup_tables/table.py
  stream_alert_cli/test/handler.py
  tests/unit/conf/global.json
  tests/unit/conf/lookup_tables.json
  tests/unit/helpers/aws_mocks.py
  tests/unit/stream_alert_shared/lookup_tables/__init__.py
  tests/unit/stream_alert_shared/lookup_tables/test_cache.py
  tests/unit/stream_alert_shared/lookup_tables/test_configuration.py
  tests/unit/stream_alert_shared/lookup_tables/test_core.py
  tests/unit/stream_alert_shared/lookup_tables/test_driver.py
  tests/unit/stream_alert_shared/lookup_tables/test_driver_dynamodb.py
  tests/unit/stream_alert_shared/lookup_tables/test_driver_s3.py
  tests/unit/stream_alert_shared/lookup_tables/test_table.py
  tests/unit/stream_alert_shared/test_lookup_tables.py
Labels: breaking change, improvement, lookup tables, medium

#997 [apps][box] upgrade box sdk and rebuild the dependencies package
  requirements-top-level.txt
  requirements.txt
  stream_alert/apps/_apps/README.rst
  stream_alert/apps/_apps/boxsdk[jwt]==2.0.0a11_dependencies.zip
  stream_alert/apps/_apps/boxsdk[jwt]==2.6.0_dependencies.zip
  stream_alert_cli/manage_lambda/package.py
Labels: apps, improvement

#1001 [rule_promotion] Change default value of alert_count to -1
  stream_alert/rule_promotion/statistic.py
  tests/unit/stream_alert_rule_promotion/test_statistic.py
Labels: bug, rule staging

#999 [apps] Handle JSONDecoderError
  stream_alert/apps/app_base.py
  tests/unit/stream_alert_apps/test_apps/test_app_base.py
Labels: apps, bug

#981 Breakup log schema file
  conf/schemas/aliyun.json
  conf/schemas/binaryalert.json
  conf/schemas/box.json
  conf/schemas/carbonblack.json
  conf/schemas/cloudtrail.json
  conf/schemas/cloudwatch.json
  conf/schemas/duo.json
  conf/schemas/fleet.json
  conf/schemas/ghe.json
  conf/schemas/gsuite.json
  conf/schemas/onelogin.json
  conf/schemas/osquery.json
  conf/schemas/pan.json
  conf/schemas/slack.json
  docs/source/athena-overview.rst
  docs/source/conf-datasources.rst
  docs/source/conf-schemas.rst
  docs/source/firehose.rst
  docs/source/rules.rst
  docs/source/testing.rst
  stream_alert/shared/config.py
  stream_alert_cli/config.py
  tests/unit/stream_alert_shared/test_config.py
Labels: classifier, improvement, log schemas

#1003 Public release for LookupTables
  conf/lookup_tables.json
  docs/source/index.rst
  docs/source/lookup-tables.rst
  manage.py
  stream_alert/rules_engine/rules_engine.py
  stream_alert/shared/config.py
  stream_alert/shared/lookup_tables.py
  stream_alert/shared/lookup_tables/__init__.py
  stream_alert/shared/lookup_tables/cache.py
  stream_alert/shared/lookup_tables/configuration.py
  stream_alert/shared/lookup_tables/core.py
  stream_alert/shared/lookup_tables/driver_dynamodb.py
  stream_alert/shared/lookup_tables/driver_s3.py
  stream_alert/shared/lookup_tables/drivers.py
  stream_alert/shared/lookup_tables/drivers_factory.py
  stream_alert/shared/lookup_tables/errors.py
  stream_alert/shared/lookup_tables/table.py
  stream_alert_cli/apps/handler.py
  stream_alert_cli/athena/handler.py
  stream_alert_cli/configure/__init__.py
  stream_alert_cli/configure/handler.py
  stream_alert_cli/kinesis/handler.py
  stream_alert_cli/lookup_tables/__init__.py
  stream_alert_cli/lookup_tables/handler.py
  stream_alert_cli/manage_lambda/deploy.py
  stream_alert_cli/manage_lambda/rollback.py
  stream_alert_cli/metrics_alarms/__init__.py
  stream_alert_cli/metrics_alarms/handler.py
  stream_alert_cli/outputs/handler.py
  stream_alert_cli/rule_table.py
  stream_alert_cli/runner.py
  stream_alert_cli/status/__init__.py
  stream_alert_cli/status/handler.py
  stream_alert_cli/terraform/generate.py
  stream_alert_cli/terraform/handlers.py
  stream_alert_cli/test/handler.py
  stream_alert_cli/threat_intel/__init__.py
  stream_alert_cli/threat_intel/handler.py
  stream_alert_cli/threat_intel_downloader/handler.py
  stream_alert_cli/utils.py
  terraform/modules/tf_lookup_tables/README.md
  terraform/modules/tf_lookup_tables/main.tf
  terraform/modules/tf_lookup_tables/variables.tf
  tests/unit/conf/global.json
  tests/unit/conf/lookup_tables.json
  tests/unit/helpers/aws_mocks.py
  tests/unit/stream_alert_cli/manage_lambda/test_rollback.py
  tests/unit/stream_alert_shared/lookup_tables/__init__.py
  tests/unit/stream_alert_shared/lookup_tables/test_cache.py
  tests/unit/stream_alert_shared/lookup_tables/test_configuration.py
  tests/unit/stream_alert_shared/lookup_tables/test_core.py
  tests/unit/stream_alert_shared/lookup_tables/test_driver.py
  tests/unit/stream_alert_shared/lookup_tables/test_driver_dynamodb.py
  tests/unit/stream_alert_shared/lookup_tables/test_driver_s3.py
  tests/unit/stream_alert_shared/lookup_tables/test_table.py
  tests/unit/stream_alert_shared/test_lookup_tables.py
Labels: breaking change, improvement, large, lookup tables, new feature

#1010 Accepts JSON from LookupTables CLI, adds `list-add` command
  stream_alert/__init__.py
  stream_alert_cli/lookup_tables/handler.py
Labels: cli, lookup tables

#1022 adding prefix to firehoses and other small updates
  docs/source/firehose.rst
  streamalert/classifier/classifier.py
  streamalert/classifier/clients/firehose.py
  streamalert_cli/terraform/classifier.py
  streamalert_cli/terraform/flow_logs.py
  terraform/modules/tf_athena/variables.tf
  terraform/modules/tf_classifier/firehose.tf
  terraform/modules/tf_classifier/variables.tf
  terraform/modules/tf_kinesis_firehose_delivery_stream/main.tf
  terraform/modules/tf_metric_filters/main.tf
  terraform/modules/tf_metric_filters/variables.tf
  tests/unit/conf/global.json
  tests/unit/conf/lambda.json
  tests/unit/helpers/config.py
  tests/unit/streamalert/alert_processor/publishers/community/test_generic.py
  tests/unit/streamalert/athena_partition_refresh/test_main.py
  tests/unit/streamalert/classifier/clients/test_firehose.py
  tests/unit/streamalert/classifier/test_classifier.py
  tests/unit/streamalert/rule_promotion/test_promoter.py
  tests/unit/streamalert/rule_promotion/test_publisher.py
  tests/unit/streamalert/shared/test_athena.py
  tests/unit/streamalert_cli/manage_lambda/test_rollback.py
  tests/unit/streamalert_cli/terraform/test_alert_processor.py
  tests/unit/streamalert_cli/terraform/test_athena.py
  tests/unit/streamalert_cli/terraform/test_firehose.py
  tests/unit/streamalert_cli/terraform/test_generate.py
  tests/unit/streamalert_cli/terraform/test_generate_classifier.py
  tests/unit/streamalert_cli/terraform/test_kinesis_streams.py
  tests/unit/streamalert_cli/terraform/test_monitoring.py
  tests/unit/streamalert_cli/terraform/test_rule_promotion.py
  tests/unit/streamalert_cli/terraform/test_s3_events.py
  tests/unit/streamalert_cli/test_cli_config.py
Labels: classifier, tech debt

#1017 [LookupTables] Adds new JSON file import CLI command
  streamalert/shared/lookup_tables/utils.py
  streamalert_cli/lookup_tables/handler.py
  streamalert_cli/test/handler.py
  tests/integration/fixtures/lookup_tables/dynamo-backed-table.json
Labels: cli, lookup tables
