Repository airbnb/streamalert, pull requests merged in 2019-10, with the labels that each got.

#1031 Fix unhashable type dict bug
  streamalert/shared/normalize.py
  tests/unit/streamalert/shared/test_normalizer.py
Labels: bug, data normalization

#1030 AlertMerger query optimizations
  streamalert/alert_merger/main.py
  streamalert/shared/alert_table.py
  tests/unit/streamalert/alert_merger/test_main.py
  tests/unit/streamalert/shared/test_alert_table.py
Labels: alert merging, performance

#1033 Cleans up dead code
  streamalert/shared/alert_table.py
  tests/unit/streamalert/alert_merger/test_main.py
  tests/unit/streamalert/shared/test_alert_table.py
Labels: tech debt

#1034 updating the flow logs module to not create unnecessary resources
  streamalert_cli/terraform/flow_logs.py
  terraform/modules/tf_athena/README.md
  terraform/modules/tf_cloudtrail/README.md
  terraform/modules/tf_flow_logs/README.md
  terraform/modules/tf_flow_logs/iam.tf
  terraform/modules/tf_flow_logs/modules/default/iam.tf
  terraform/modules/tf_flow_logs/modules/default/main.tf
  terraform/modules/tf_flow_logs/modules/default/output.tf
  terraform/modules/tf_flow_logs/modules/default/variables.tf
  terraform/modules/tf_flow_logs/modules/internal/iam.tf
  terraform/modules/tf_flow_logs/modules/internal/main.tf
  terraform/modules/tf_flow_logs/modules/internal/output.tf
  terraform/modules/tf_flow_logs/modules/internal/variables.tf
  terraform/modules/tf_globals/README.md
  terraform/modules/tf_kinesis_events/README.md
  terraform/modules/tf_kinesis_firehose_delivery_stream/README.md
  terraform/modules/tf_kinesis_firehose_setup/README.md
  terraform/modules/tf_kinesis_streams/README.md
  tests/unit/streamalert_cli/terraform/test_generate.py
Labels: terraform

#1027 making change for proper formatting of kinesis stream names
  conf/sources.json
  docs/source/clusters.rst
  docs/source/conf-datasources.rst
  docs/source/firehose.rst
  streamalert_cli/terraform/kinesis_events.py
  streamalert_cli/terraform/kinesis_streams.py
  streamalert_cli/terraform/monitoring.py
  terraform/modules/tf_kinesis_events/README.md
  terraform/modules/tf_kinesis_events/variables.tf
  terraform/modules/tf_kinesis_streams/outputs.tf
  tests/integration/rules/cloudtrail/cloudtrail_ec2_image_creation.json
  tests/integration/rules/cloudtrail/cloudtrail_network_acl_ingress_anywhere.json
  tests/integration/rules/cloudtrail/cloudtrail_put_bucket_acl.json
  tests/integration/rules/cloudtrail/cloudtrail_put_object_acl_public.json
  tests/integration/rules/cloudtrail/cloudtrail_root_account_usage.json
  tests/integration/rules/cloudtrail/cloudtrail_security_group_ingress_anywhere.json
  tests/integration/rules/cloudwatch/cloudtrail_via_cloudwatch.json
  tests/integration/rules/cloudwatch/cloudwatch_control_message.json
  tests/integration/rules/cloudwatch/rds_aurora_via_cloudwatch.json
  tests/integration/rules/github/github_disable_dismiss_stale_pull_request_approvals.json
  tests/integration/rules/github/github_disable_protect_this_branch.json
  tests/integration/rules/github/github_disable_required_pull_request_reviews.json
  tests/integration/rules/github/github_disable_required_status_checks.json
  tests/integration/rules/github/github_disable_two_factor_requirement_org.json
  tests/integration/rules/github/github_disable_two_factor_requirement_user.json
  tests/integration/rules/github/github_oauth_application_create.json
  tests/integration/rules/github/github_site_admin_action.json
  tests/integration/rules/github/github_site_admin_user_promotion.json
  tests/integration/rules/guardduty/guard_duty_all.json
  tests/integration/rules/mitre_attack/right_to_left_character.json
  tests/unit/streamalert_cli/terraform/test_kinesis_events.py
  tests/unit/streamalert_cli/terraform/test_kinesis_streams.py
  tests/unit/streamalert_cli/terraform/test_monitoring.py
Labels: classifier, terraform

#1037 adding documentation for optional kinesis stream name
  docs/source/clusters.rst
  terraform/modules/tf_kinesis_streams/iam.tf
Labels: documentation

#1039 fix setting of rules engine environment variable
  streamalert_cli/terraform/rules_engine.py
Labels: rules engine

#1041 [terraform] update cloudwatch and flow logs terraform module to reduce redundancy
  docs/source/clusters.rst
  streamalert_cli/terraform/cloudtrail.py
  streamalert_cli/terraform/cloudwatch.py
  streamalert_cli/terraform/common.py
  streamalert_cli/terraform/flow_logs.py
  streamalert_cli/terraform/generate.py
  terraform/modules/tf_cloudwatch/README.md
  terraform/modules/tf_cloudwatch/iam.tf
  terraform/modules/tf_cloudwatch/main.tf
  terraform/modules/tf_cloudwatch/outputs.tf
  terraform/modules/tf_cloudwatch/variables.tf
  terraform/modules/tf_cloudwatch_logs_destination/README.md
  terraform/modules/tf_cloudwatch_logs_destination/iam.tf
  terraform/modules/tf_cloudwatch_logs_destination/modules/destination/iam.tf
  terraform/modules/tf_cloudwatch_logs_destination/modules/destination/main.tf
  terraform/modules/tf_cloudwatch_logs_destination/modules/destination/output.tf
  terraform/modules/tf_cloudwatch_logs_destination/modules/destination/variables.tf
  terraform/modules/tf_cloudwatch_logs_destination/output.tf
  terraform/modules/tf_cloudwatch_logs_destination/variables.tf
  terraform/modules/tf_flow_logs/README.md
  terraform/modules/tf_flow_logs/iam.tf
  terraform/modules/tf_flow_logs/main.tf
  terraform/modules/tf_flow_logs/modules/default/iam.tf
  terraform/modules/tf_flow_logs/modules/default/main.tf
  terraform/modules/tf_flow_logs/modules/default/output.tf
  terraform/modules/tf_flow_logs/modules/default/variables.tf
  terraform/modules/tf_flow_logs/output.tf
  terraform/modules/tf_flow_logs/variables.tf
  terraform/providers.tf
  tests/unit/conf/clusters/advanced.json
  tests/unit/streamalert_cli/terraform/test_generate.py
Labels: cli, improvement, terraform

#1046 update gsuite apps for changes to gsuite api
  .pylintrc
  requirements-top-level.txt
  requirements.txt
  streamalert/alert_processor/outputs/aws.py
  streamalert/apps/_apps/gsuite.py
  streamalert/classifier/parsers.py
  streamalert/rules_engine/threat_intel.py
  streamalert/shared/alert_table.py
  streamalert_cli/manage_lambda/package.py
  tests/unit/streamalert/apps/test_apps/test_app_base.py
  tests/unit/streamalert/apps/test_apps/test_gsuite.py
  tests/unit/streamalert/classifier/test_parsers_json.py
  tests/unit/streamalert/rules_engine/test_threat_intel.py
Labels: apps, bug, dependencies
