Repository airbnb/streamalert, pull requests merged in 2019-11, with the labels that each got.

#1049 fix bugs with updated dependencies and gsuite app
  streamalert/apps/_apps/README.rst
  streamalert/apps/_apps/boxsdk[jwt]==2.6.0_dependencies.zip
  streamalert/apps/_apps/boxsdk[jwt]==2.6.1_dependencies.zip
  streamalert/apps/_apps/gsuite.py
  tests/unit/streamalert/apps/test_apps/test_app_base.py
Labels: apps, bug, dependencies

#1053 fixing small bugs with terraform 12 code
  docs/source/clusters.rst
  streamalert_cli/terraform/s3_events.py
  terraform/modules/tf_kinesis_events/variables.tf
  terraform/modules/tf_lookup_tables_dynamodb/main.tf
  terraform/modules/tf_s3_events/main.tf
  terraform/modules/tf_s3_events/variables.tf
  tests/unit/streamalert_cli/terraform/test_generate.py
  tests/unit/streamalert_cli/terraform/test_s3_events.py
Labels: bug, terraform

#1023 [rules] Detect use of PutAccountPublicAccessBlock
  rules/community/cloudtrail/cloudtrail_critical_api_calls.py
  tests/integration/rules/cloudtrail/cloudtrail_critical_api_calls.json
Labels: rules

#1020 [docs] Add Glue to the permissions needed
  docs/source/getting-started.rst
Labels: documentation

#1057 adding fix for box app request timeout (#1040)
  streamalert/apps/_apps/box.py
  tests/unit/streamalert/apps/test_apps/test_box.py
Labels: apps

#1059 [terraform] support remote state file locking
  conf/global.json
  docs/source/getting-started.rst
  streamalert_cli/terraform/generate.py
  streamalert_cli/terraform/handlers.py
  streamalert_cli/terraform/helpers.py
  tests/unit/streamalert_cli/terraform/test_generate.py
  tests/unit/streamalert_cli/terraform/test_helpers.py
Labels: cli, terraform
