Repository airbnb/streamalert, pull requests merged in 2019-06, with the labels that each got.

#946 make Terraform version compatibility more explicit
  docs/source/getting-started.rst
Labels: documentation

#948 [docs] remove --table-type arg from athena create-table command description
  docs/source/athena-overview.rst
Labels: documentation

#950 Restructures a compound query in rule promotion to be more efficient
  stream_alert/rule_promotion/statistic.py
  tests/unit/stream_alert_rule_promotion/test_statistic.py
Labels: improvement, rule staging

#951 fixing threat intel bug that caused exception when records contain no potential IOCs
  stream_alert/rules_engine/threat_intel.py
  tests/unit/streamalert/rules_engine/test_threat_intel.py
Labels: bug, threat intelligence

#949 [bug] fixing logic for cleaning up old tf.json files
  stream_alert_cli/terraform/generate.py
Labels: bug, cli

#952 logging trackback if any general exception occurs in classifier or rules engine
  stream_alert/classifier/main.py
  stream_alert/rules_engine/main.py
Labels: classifier, improvement, rules engine

#953 fixing storage of empty values in normalization
  stream_alert/shared/normalize.py
  tests/unit/stream_alert_shared/test_normalizer.py
Labels: bug, data normalization
