Repository airbnb/streamalert, pull requests merged in 2019-08, with the labels that each got.

#957 Best practice rules
  conf/lambda.json
  requirements-top-level.txt
  requirements.txt
  rules/community/cloudtrail/cloudtrail_critical_api_calls.py
  rules/community/cloudtrail/cloudtrail_public_resources.py
  rules/community/cloudtrail/cloudtrail_snapshot_or_ami_made_public.py
  stream_alert_cli/manage_lambda/package.py
  tests/integration/rules/cloudtrail/cloudtrail_critical_api_calls.json
  tests/integration/rules/cloudtrail/cloudtrail_public_resources.json
  tests/integration/rules/cloudtrail/cloudtrail_snapshot_or_ami_made_public.json
Labels: config, rules

#960 Adds optional prefix to SQS URL
  conf/global.json
  stream_alert_cli/terraform/classifier.py
  stream_alert_cli/terraform/common.py
  stream_alert_cli/terraform/generate.py
  terraform/modules/tf_classifier/variables.tf
  terraform/modules/tf_stream_alert_globals/classifier_queue/sqs.tf
  terraform/modules/tf_stream_alert_globals/classifier_queue/variables.tf
  terraform/modules/tf_stream_alert_globals/main.tf
  terraform/modules/tf_stream_alert_globals/variables.tf
  tests/unit/conf/global.json
  tests/unit/stream_alert_cli/terraform/test_generate.py
  tests/unit/streamalert_cli/terraform/test_generate_classifier.py
Labels: bug, classifier, tech debt

#961 cleaning up json formatting on some test files
  tests/integration/rules/cloudtrail/cloudtrail_critical_api_calls.json
  tests/integration/rules/cloudtrail/cloudtrail_public_resources.json
  tests/integration/rules/cloudtrail/cloudtrail_snapshot_or_ami_made_public.json
Labels: tests

#962 Small fix for policy_universe.
  stream_alert_cli/manage_lambda/package.py
Labels: bug, cli

#965 Fixed logging output for failed classifications
  stream_alert/classifier/payload/payload_base.py
  tests/unit/streamalert/classifier/payload/test_payload_base.py
  tests/unit/streamalert/classifier/payload/test_payload_record.py
Labels: bug, classifier

#971 [conf] Remove duplicated policyuniverse dep from lambda conf
  conf/lambda.json
Labels: bug

#972 Bumped the slack request timeout to 10
  stream_alert/apps/_apps/slack.py
Labels: apps, improvement

#986 misc fixups to python3 changes
  .gitignore
  stream_alert/athena_partition_refresh/main.py
  stream_alert/classifier/parsers.py
  stream_alert/shared/rule.py
  stream_alert_cli/terraform/athena.py
  stream_alert_cli/terraform/rule_promotion.py
  tests/unit/streamalert/classifier/test_parsers_csv.py
Labels: bug, improvement, misc

#967 Hotfix/links and spelling
  docs/source/athena-arch.rst
  rules/community/duo_administrator/duo_bypass_code_create_non_auto_generated.py
  stream_alert/alert_processor/outputs/carbonblack.py
  stream_alert/apps/_apps/aliyun.py
  stream_alert/apps/app_base.py
  stream_alert/classifier/clients/firehose.py
  stream_alert/classifier/clients/sqs.py
  stream_alert/shared/athena.py
  stream_alert_cli/terraform/athena.py
  stream_alert_cli/terraform/cloudtrail.py
  tests/integration/rules/box/box_admin_events.json
  tests/integration/rules/gsuite/gsuite_admin.json
  tests/unit/helpers/aws_mocks.py
Labels: documentation

#988 fixing trash logging in cloudwatch logs
  stream_alert/shared/logger.py
  tests/unit/stream_alert_shared/test_logger.py
Labels: improvement

#983 bumping slack app timeout to 30 seconds
  stream_alert/apps/_apps/slack.py
Labels: apps, improvement
