Repository airbnb/streamalert, pull requests merged in 2019-03, with the labels that each got.

#912 adding updated architecture diagram
  docs/images/sa-complete-arch.png
Labels: documentation

#900 Adds Alert Publisher framework
  docs/source/index.rst
  docs/source/outputs.rst
  docs/source/publishers.rst
  publishers/__init__.py
  publishers/community/__init__.py
  publishers/community/generic.py
  stream_alert/alert_processor/helpers.py
  stream_alert/alert_processor/outputs/aws.py
  stream_alert/alert_processor/outputs/demisto.py
  stream_alert/alert_processor/outputs/github.py
  stream_alert/alert_processor/outputs/jira.py
  stream_alert/alert_processor/outputs/komand.py
  stream_alert/alert_processor/outputs/output_base.py
  stream_alert/alert_processor/outputs/pagerduty.py
  stream_alert/alert_processor/outputs/phantom.py
  stream_alert/alert_processor/outputs/slack.py
  stream_alert/rules_engine/rules_engine.py
  stream_alert/shared/alert.py
  stream_alert/shared/importer.py
  stream_alert/shared/publisher.py
  stream_alert/shared/rule.py
  stream_alert/shared/rule_table.py
  stream_alert_cli/manage_lambda/package.py
  tests/unit/publishers/__init__.py
  tests/unit/publishers/community/__init__.py
  tests/unit/publishers/community/test_community_generic.py
  tests/unit/stream_alert_alert_processor/test_outputs/credentials/test_provider.py
  tests/unit/stream_alert_alert_processor/test_outputs/test_demisto.py
  tests/unit/stream_alert_alert_processor/test_outputs/test_slack.py
  tests/unit/stream_alert_alert_processor/test_publishers/__init__.py
  tests/unit/stream_alert_shared/test_importer.py
  tests/unit/stream_alert_shared/test_publisher.py
  tests/unit/stream_alert_shared/test_rule.py
  tests/unit/streamalert/rules_engine/test_rules_engine.py
Labels: alert publishers

#913 [bug] retrying ReadTimeoutError via HTTPClientError in sqs and firehose clients
  stream_alert/classifier/clients/firehose.py
  stream_alert/classifier/clients/sqs.py
Labels: bug

#914 adding ability to add `Cluster` tag to classifier lambda/cloudwatch resources
  stream_alert_cli/terraform/classifier.py
  stream_alert_cli/terraform/lambda_module.py
  terraform/modules/tf_lambda/cloudwatch.tf
  terraform/modules/tf_lambda/main.tf
  terraform/modules/tf_lambda/variables.tf
  tests/unit/stream_alert_cli/terraform/test_alert_processor.py
  tests/unit/stream_alert_cli/terraform/test_rule_promotion.py
  tests/unit/streamalert_cli/terraform/test_generate_classifier.py
  tests/unit/streamalert_cli/terraform/test_generate_rules_engine.py
Labels: classifier, terraform

#915 bumping version to 2.1.6
  stream_alert/__init__.py
Labels: release

#904 [Alert Publishers] Add some community Slack Publishers
  publishers/community/slack/__init__.py
  publishers/community/slack/slack_layout.py
  stream_alert/shared/description.py
  stream_alert/shared/publisher.py
  tests/unit/stream_alert_alert_processor/test_publishers/slack/__init__.py
  tests/unit/stream_alert_alert_processor/test_publishers/slack/test_slack_layout.py
  tests/unit/stream_alert_shared/test_description.py
Labels: alert publishers, alerting outputs

#917 [Alert Publishers] Standardizes magic fields with @-sign prefix
  docs/source/outputs.rst
  docs/source/publishers.rst
  publishers/community/slack/slack_layout.py
  stream_alert/alert_processor/outputs/aws.py
  stream_alert/alert_processor/outputs/carbonblack.py
  stream_alert/alert_processor/outputs/demisto.py
  stream_alert/alert_processor/outputs/github.py
  stream_alert/alert_processor/outputs/jira.py
  stream_alert/alert_processor/outputs/komand.py
  stream_alert/alert_processor/outputs/phantom.py
  stream_alert/alert_processor/outputs/slack.py
  tests/unit/stream_alert_alert_processor/test_outputs/test_slack.py
  tests/unit/stream_alert_alert_processor/test_publishers/slack/test_slack_layout.py
Labels: alert publishers, alerting outputs

#918 [Fixup] Alert Publisher PR Feedback
  docs/source/publishers.rst
  publishers/community/generic.py
  stream_alert/alert_processor/outputs/aws.py
  stream_alert/alert_processor/outputs/slack.py
  stream_alert/rules_engine/rules_engine.py
  stream_alert/shared/publisher.py
  tests/unit/stream_alert_shared/test_publisher.py
Labels: alert publishers

#923 [Publishers] Adds publisher error detection to rule_test.sh
  stream_alert/alert_processor/helpers.py
  stream_alert_cli/test/handler.py
  stream_alert_cli/test/results.py
  tests/integration/rules/duo/duo_fraud.json
  tests/unit/publishers/community/test_generic.py
  tests/unit/stream_alert_shared/test_publisher.py
Labels: alert publishers, tests

#924 Improvements to Slack Publishers
  publishers/community/slack/slack_layout.py
  stream_alert/shared/description.py
  tests/unit/stream_alert_alert_processor/test_publishers/slack/test_slack_layout.py
  tests/unit/stream_alert_shared/test_description.py
Labels: alert publishers

#925 [Publishers] Adds support for images on Pagerduty v2
  publishers/community/pagerduty/pagerduty_layout.py
  stream_alert/alert_processor/outputs/pagerduty.py
  stream_alert/shared/publisher.py
  tests/unit/publishers/community/pagerduty/test_pagerduty_layout.py
  tests/unit/stream_alert_alert_processor/test_outputs/test_pagerduty.py
Labels: alert publishers, alerting outputs
