Repository airbnb/streamalert, pull requests merged in 2019-12, with the labels that each got.

#1060 [cli] Fix unknown module referenced bug
  streamalert_cli/terraform/handlers.py
Labels: improvement

#1063 raise exception when config sources are misconfigured
  streamalert/classifier/classifier.py
  streamalert/shared/config.py
  streamalert/shared/exceptions.py
  streamalert_cli/config.py
  tests/unit/streamalert/classifier/test_classifier.py
Labels: classifier, config

#1064 renaming all known references of "stream_alert" to "streamalert"
  .github/CONTRIBUTING.rst
  Vagrantfile
  conf/clusters/prod.json
  conf/global.json
  docs/source/clusters.rst
  docs/source/getting-started.rst
  docs/source/testing.rst
  streamalert/alert_processor/outputs/credentials/provider.py
  streamalert/apps/batcher.py
  streamalert/classifier/payload/apps.py
  streamalert/classifier/payload/payload_base.py
  streamalert/rules_engine/threat_intel.py
  streamalert/shared/config.py
  streamalert/shared/metrics.py
  streamalert_cli/apps/handler.py
  streamalert_cli/config.py
  streamalert_cli/manage_lambda/deploy.py
  streamalert_cli/manage_lambda/package.py
  streamalert_cli/manage_lambda/rollback.py
  streamalert_cli/status/handler.py
  streamalert_cli/terraform/alert_processor.py
  streamalert_cli/terraform/apps.py
  streamalert_cli/terraform/athena.py
  streamalert_cli/terraform/classifier.py
  streamalert_cli/terraform/generate.py
  streamalert_cli/terraform/handlers.py
  streamalert_cli/terraform/metrics.py
  streamalert_cli/terraform/rule_promotion.py
  streamalert_cli/test/handler.py
  tests/integration/rules/aliyun/aliyun_basic.json
  tests/integration/rules/box/box_admin_events.json
  tests/integration/rules/duo/duo_anonymous_ip_failure.json
  tests/integration/rules/duo/duo_bypass_code_create_non_auto_generated.json
  tests/integration/rules/duo/duo_bypass_code_create_non_expiring.json
  tests/integration/rules/duo/duo_bypass_code_create_unlimited_use.json
  tests/integration/rules/duo/duo_fraud.json
  tests/integration/rules/gsuite/gsuite_admin.json
  tests/integration/rules/onelogin/onelogin_events_assumed_role.json
  tests/integration/rules/slack/slack_basic.json
  tests/unit/conf/clusters/advanced.json
  tests/unit/conf/clusters/test.json
  tests/unit/conf/clusters/trusted.json
  tests/unit/conf/global.json
  tests/unit/helpers/config.py
  tests/unit/streamalert/alert_processor/__init__.py
  tests/unit/streamalert/alert_processor/outputs/credentials/test_provider.py
  tests/unit/streamalert/apps/test_batcher.py
  tests/unit/streamalert/classifier/payload/test_payload_base.py
  tests/unit/streamalert/classifier/test_parsers_json.py
  tests/unit/streamalert/rules_engine/test_threat_intel.py
  tests/unit/streamalert/shared/test_config.py
  tests/unit/streamalert_cli/terraform/test_alert_processor.py
  tests/unit/streamalert_cli/terraform/test_athena.py
  tests/unit/streamalert_cli/terraform/test_generate.py
  tests/unit/streamalert_cli/terraform/test_generate_classifier.py
  tests/unit/streamalert_cli/terraform/test_helpers.py
  tests/unit/streamalert_cli/terraform/test_rule_promotion.py
  tests/unit/streamalert_cli/test_cli_config.py
Labels: config, improvement

#1062 [schema] Add two new keys to osquery.json file
  conf/schemas/osquery.json
Labels: log schemas

#1071 remove invalid/unnecessary statement in terraform
  terraform/modules/tf_cloudtrail/modules/tf_cloudtrail_cloudwatch/main.tf
Labels: terraform

#1070 Don't throw an exception if no partitions are added
  streamalert/athena_partition_refresh/main.py
  tests/unit/streamalert/athena_partition_refresh/test_main.py
Labels: athena
