Repository airbnb/streamalert, pull requests merged in 2019-02, with the labels that each got.

#895 [demisto] Fixes a bug where demisto rejects non-string types
  stream_alert/alert_processor/outputs/demisto.py
  tests/unit/stream_alert_alert_processor/test_outputs/test_demisto.py
Labels: alerting outputs, bug

#903 [bug] fixing issue with trying to send empty batch to firehose (#902)
  stream_alert/classifier/clients/firehose.py
  stream_alert/classifier/clients/sqs.py
  tests/unit/streamalert/classifier/clients/test_firehose.py
Labels: bug, classifier

#905 enforce ssl access only on all S3 buckets
  stream_alert_cli/terraform/generate.py
  terraform/modules/tf_stream_alert_athena/main.tf
  terraform/modules/tf_stream_alert_cloudtrail/main.tf
  terraform/modules/tf_stream_alert_kinesis_firehose_setup/main.tf
  tests/unit/stream_alert_cli/terraform/test_generate.py
Labels: terraform

#907 [bug] fixing duplicate policy bug with cloudtrail bucket
  terraform/modules/tf_stream_alert_cloudtrail/main.tf
Labels: bug, terraform
