Repository airbnb/streamalert, pull requests merged in 2020-01, with the labels that each got.

#1076 Docs/general update
  docs/source/getting-started.rst
  docs/source/outputs.rst
Labels: documentation

#1081 Docs/GitHub previous link gave 404
  .github/CONTRIBUTING.rst
Labels: documentation

#1085 Fix a parser bug when processing raw event encapsulated in a string
  streamalert/classifier/parsers.py
  tests/unit/streamalert/classifier/test_parsers_json.py
Labels: classifier, log parsers

#1087 [unit test] Use single quote around strings
  tests/unit/streamalert/classifier/test_parsers_json.py
Labels: tests

#1077 [schema] trendmicro:malwareevent
  conf/clusters/prod.json
  conf/schemas/trendmicro.json
  rules/community/trendmicro/__init__.py
  rules/community/trendmicro/trendmicro_malware_event.py
  tests/integration/rules/trendmicro/trendmicro_schema.json
Labels: log schemas, rules

#1089 [terraform] Implemented a fix for the count error
  streamalert_cli/terraform/rules_engine.py
  terraform/modules/tf_rules_engine/iam.tf
  terraform/modules/tf_rules_engine/variables.tf
  tests/unit/streamalert_cli/terraform/test_generate_rules_engine.py
Labels: terraform

#1102 [rule] Fix cloudtrail_public_resources
  rules/community/cloudtrail/cloudtrail_public_resources.py
Labels: bug, rules

#1101 [core] Updated cloudtrail:events optional_key
  conf/schemas/cloudtrail.json
  tests/integration/rules/cloudtrail/cloudtrail_quicksight.json
Labels: log schemas

#1079 [outputs] add Microsoft Teams as an alerting output
  conf/outputs.json
  docs/source/outputs.rst
  requirements-top-level.txt
  requirements.txt
  streamalert/alert_processor/outputs/teams.py
  streamalert_cli/manage_lambda/package.py
  tests/unit/streamalert/alert_processor/outputs/test_output_base.py
  tests/unit/streamalert/alert_processor/outputs/test_teams.py
Labels: alerting outputs, new feature

#1082 [outputs] aws-ses
  conf/outputs.json
  docs/source/outputs.rst
  streamalert/alert_processor/outputs/aws.py
  terraform/modules/tf_alert_processor_iam/main.tf
  tests/unit/streamalert/alert_processor/outputs/test_aws.py
  tests/unit/streamalert/alert_processor/outputs/test_output_base.py
Labels: alerting outputs, new feature

#1074 threat_intel_downloader module now uses tf_lambda module
  streamalert/shared/__init__.py
  streamalert_cli/terraform/threat_intel_downloader.py
  terraform/modules/tf_threat_intel_downloader/iam.tf
  terraform/modules/tf_threat_intel_downloader/main.tf
  terraform/modules/tf_threat_intel_downloader/variables.tf
Labels: terraform, threat intelligence
