Repository airbnb/streamalert, pull requests merged in 2020-03, with the labels that each got.

#1177 adding support for cloudtrail to sns for new objects in s3
  docs/source/config-clusters.rst
  streamalert_cli/terraform/cloudtrail.py
  terraform/modules/tf_cloudtrail/main.tf
  terraform/modules/tf_cloudtrail/variables.tf
Labels: improvement, terraform

#1173 [Schema] OSquery optional TLK
  conf/schemas/osquery.json
  tests/integration/rules/osquery/osquery_snapshot.json
Labels: log schemas

#1115 [core] Support to store data in Parquet format and create Athena tables by Terraform
  conf/global.json
  conf/lambda.json
  docs/images/alerts-query.png
  docs/images/athena-alerts-search.png
  docs/images/athena-data-search.png
  docs/images/athena-refresh-arch.png
  docs/images/athena-usage-1.png
  docs/images/athena-usage-2.png
  docs/images/athena-usage-3.png
  docs/images/athena-usage-4.png
  docs/images/historical-search.png
  docs/source/config-global.rst
  docs/source/getting-started.rst
  docs/source/historical-search.rst
  docs/source/rules.rst
  streamalert/athena_partition_refresh/main.py
  streamalert/rule_promotion/promoter.py
  streamalert/shared/exceptions.py
  streamalert/shared/utils.py
  streamalert_cli/athena/handler.py
  streamalert_cli/athena/helpers.py
  streamalert_cli/manage_lambda/package.py
  streamalert_cli/terraform/firehose.py
  streamalert_cli/terraform/generate.py
  streamalert_cli/terraform/handlers.py
  terraform/modules/tf_globals/alerts_firehose/iam.tf
  terraform/modules/tf_globals/alerts_firehose/main.tf
  terraform/modules/tf_globals/alerts_firehose/variables.tf
  terraform/modules/tf_globals/main.tf
  terraform/modules/tf_globals/variables.tf
  terraform/modules/tf_kinesis_firehose_delivery_stream/main.tf
  terraform/modules/tf_kinesis_firehose_delivery_stream/variables.tf
  terraform/modules/tf_kinesis_firehose_setup/iam.tf
  tests/unit/conf/lambda.json
  tests/unit/conf_athena/clusters/test.json
  tests/unit/conf_athena/global.json
  tests/unit/conf_athena/lambda.json
  tests/unit/conf_athena/schemas/unit_test_schemas.json
  tests/unit/streamalert/athena_partition_refresh/test_main.py
  tests/unit/streamalert_cli/athena/test_handler.py
  tests/unit/streamalert_cli/athena/test_helpers.py
  tests/unit/streamalert_cli/terraform/test_firehose.py
  tests/unit/streamalert_cli/terraform/test_generate.py
Labels: historical search, new feature

#1182 updating graphic to use new font
  docs/images/sa-banner.png
Labels: documentation

#1184 update graphic, again
  docs/images/sa-banner.png
Labels: documentation

#1140 [rules] Added AWS Config Compliance and Remediation Rules
  rules/community/cloudtrail/cloudtrail_aws_config.py
  rules/community/guardduty/guard_duty_all.py
  rules/matchers/matchers.py
  tests/integration/rules/cloudtrail/cloudtrail_aws_config.json
Labels: rules

#1189 fixing some test events after merge of #1179
  rules/classifier/osquery/osquery_snapshot.json
  rules/community/cloudtrail/cloudtrail_aws_config.json
  streamalert/shared/logger.py
Labels: tests

#1188 Sanitize log names
  streamalert/shared/config.py
  streamalert_cli/test/results.py
  tests/unit/conf/lambda.json
  tests/unit/conf/logs.json
  tests/unit/helpers/config.py
  tests/unit/streamalert/shared/test_config.py
  tests/unit/streamalert_cli/athena/test_handler.py
  tests/unit/streamalert_cli/athena/test_helpers.py
Labels: bug, historical search, tests

#1191 [core] Hash firehose stream name if it is too long
  docs/source/config-global.rst
  streamalert/classifier/clients/firehose.py
  streamalert_cli/terraform/firehose.py
  terraform/modules/tf_classifier/firehose.tf
  terraform/modules/tf_kinesis_firehose_delivery_stream/main.tf
  tests/unit/streamalert/classifier/clients/test_firehose.py
Labels: breaking change, classifier, historical search, terraform

#1195 Removes a default option that is breaking deploys
  conf/global.json
Labels: bug

#1197 ignoring json files during packaging, fixes for log names
  streamalert/classifier/clients/firehose.py
  streamalert/shared/config.py
  streamalert_cli/athena/handler.py
  streamalert_cli/athena/helpers.py
  streamalert_cli/manage_lambda/package.py
  streamalert_cli/terraform/firehose.py
  streamalert_cli/test/event.py
  streamalert_cli/test/results.py
  terraform/modules/tf_kinesis_firehose_delivery_stream/main.tf
  terraform/modules/tf_kinesis_firehose_delivery_stream/variables.tf
  tests/unit/helpers/config.py
  tests/unit/streamalert/classifier/clients/test_firehose.py
  tests/unit/streamalert/shared/test_config.py
  tests/unit/streamalert_cli/athena/test_handler.py
  tests/unit/streamalert_cli/athena/test_helpers.py
  tests/unit/streamalert_cli/terraform/test_firehose.py
  tests/unit/streamalert_cli/test/test_event.py
Labels: deployment, tests

#1199 [tf] Change alerts_bucket type to string in tf_rule_promotion_iam module
  terraform/modules/tf_rule_promotion_iam/variables.tf
Labels: bug, terraform

#1201 fixing bug with ignoring json files
  streamalert_cli/manage_lambda/package.py
Labels: bug, deployment

#1202 [fix] Fix some bugs during internal deployment of parquet
  conf/schemas/carbonblack.json
  docs/source/historical-search.rst
  streamalert/classifier/clients/firehose.py
  streamalert/shared/utils.py
  streamalert_cli/_infrastructure/modules/tf_globals/alerts_firehose/main.tf
  streamalert_cli/athena/helpers.py
  tests/unit/streamalert/classifier/clients/test_firehose.py
Labels: bug

#1210 Make list targets work again
  docs/source/getting-started.rst
  docs/source/historical-search.rst
  streamalert_cli/manage_lambda/package.py
  streamalert_cli/terraform/generate.py
  streamalert_cli/terraform/handlers.py
  tests/unit/streamalert_cli/terraform/test_handlers.py
Labels: bug, cli, historical search

#1211 Missing alerts table creation during init
  streamalert_cli/athena/handler.py
  streamalert_cli/terraform/handlers.py
Labels: bug, cli

#1212 fixing clean subcommand, remove unused constants
  streamalert_cli/manage_lambda/package.py
  streamalert_cli/terraform/handlers.py
Labels: bug, cli

#1209 Make scheduled_queries/ directory configurable from global.json
  conf/global.json
  docs/source/config-global.rst
  streamalert/scheduled_queries/config/services.py
  streamalert/scheduled_queries/query_packs/configuration.py
  tests/unit/conf/global.json
  tests/unit/streamalert/scheduled_queries/query_packs/test_configuration.py
Labels: config, streamquery

#1214 [docs] fixing links in docs, other touch ups
  docs/source/apps.rst
  docs/source/config-clusters.rst
  docs/source/datasources.rst
  docs/source/getting-started.rst
  docs/source/historical-search.rst
  docs/source/rules.rst
Labels: documentation

#1216 [bug] adding scheduled queries iam role path prefix
  streamalert_cli/_infrastructure/modules/tf_scheduled_queries/cloudwatch_schedule.tf
  streamalert_cli/_infrastructure/modules/tf_scheduled_queries/iam_roles.tf
  streamalert_cli/_infrastructure/modules/tf_scheduled_queries/step_function.tf
  streamalert_cli/_infrastructure/modules/tf_scheduled_queries/versions.tf
Labels: streamquery, terraform

#1164 DRY's out some code
  streamalert/athena_partition_refresh/main.py
  streamalert/shared/config.py
  streamalert_cli/terraform/athena.py
  streamalert_cli/terraform/scheduled_queries.py
Labels: tech debt

#1215 official release of v3.1.1
  docs/source/apps.rst
  docs/source/config-clusters.rst
  docs/source/datasources.rst
  docs/source/getting-started.rst
  docs/source/historical-search.rst
  docs/source/rules.rst
  streamalert/__init__.py
  streamalert/athena_partition_refresh/main.py
  streamalert/shared/config.py
  streamalert_cli/_infrastructure/modules/tf_scheduled_queries/cloudwatch_schedule.tf
  streamalert_cli/_infrastructure/modules/tf_scheduled_queries/iam_roles.tf
  streamalert_cli/_infrastructure/modules/tf_scheduled_queries/step_function.tf
  streamalert_cli/_infrastructure/modules/tf_scheduled_queries/versions.tf
  streamalert_cli/terraform/athena.py
  streamalert_cli/terraform/scheduled_queries.py
Labels: release
