Repository airbnb/streamalert, pull requests merged in 2020-07, with the labels that each got.

#1269 fixing issue with streamalert.zip not existing at build times
  streamalert_cli/config.py
  streamalert_cli/helpers.py
  streamalert_cli/kinesis/handler.py
  streamalert_cli/manage_lambda/deploy.py
  streamalert_cli/terraform/handlers.py
  streamalert_cli/terraform/helpers.py
Labels: deployment, terraform

#1268 Move artifact extractor logic to classifier
  conf/global.json
  conf/lambda.json
  conf/schemas/carbonblack.json
  conf/schemas/cloudwatch.json
  docs/images/normalization-arch.png
  docs/source/normalization.rst
  streamalert/artifact_extractor/__init__.py
  streamalert/artifact_extractor/artifact_extractor.py
  streamalert/artifact_extractor/main.py
  streamalert/classifier/classifier.py
  streamalert/shared/__init__.py
  streamalert/shared/artifact_extractor.py
  streamalert/shared/config.py
  streamalert/shared/firehose.py
  streamalert/shared/metrics.py
  streamalert/shared/normalize.py
  streamalert_cli/_infrastructure/modules/tf_artifact_extractor/iam.tf
  streamalert_cli/_infrastructure/modules/tf_artifact_extractor/variables.tf
  streamalert_cli/_infrastructure/modules/tf_kinesis_firehose_delivery_stream/main.tf
  streamalert_cli/_infrastructure/modules/tf_kinesis_firehose_delivery_stream/variables.tf
  streamalert_cli/_infrastructure/modules/tf_kinesis_firehose_setup/iam.tf
  streamalert_cli/_infrastructure/modules/tf_kinesis_firehose_setup/variables.tf
  streamalert_cli/athena/helpers.py
  streamalert_cli/manage_lambda/deploy.py
  streamalert_cli/terraform/artifact_extractor.py
  streamalert_cli/terraform/firehose.py
  streamalert_cli/terraform/generate.py
  streamalert_cli/utils.py
  tests/unit/streamalert/artifact_extractor/__init__.py
  tests/unit/streamalert/artifact_extractor/helpers.py
  tests/unit/streamalert/artifact_extractor/test_main.py
  tests/unit/streamalert/classifier/test_classifier.py
  tests/unit/streamalert/shared/test_artifact_extractor.py
  tests/unit/streamalert/shared/test_config.py
  tests/unit/streamalert/shared/test_normalizer.py
  tests/unit/streamalert/shared/test_utils.py
  tests/unit/streamalert_cli/terraform/test_artifact_extractor.py
Labels: artifact extractor, data normalization

#1270 always build deployment package by default
  streamalert_cli/manage_lambda/deploy.py
  streamalert_cli/terraform/handlers.py
  streamalert_cli/terraform/helpers.py
Labels: deployment

#1272 ensuring prefix is a lowercase string
  streamalert_cli/apps/handler.py
  streamalert_cli/config.py
Labels: cli, config

#1277 updating dependencies
  constraints.txt
  requirements-top-level.txt
  requirements.txt
  streamalert/shared/helpers/aws_api_client.py
  streamalert_cli/_infrastructure/modules/tf_globals/lambda_layers/README.rst
  streamalert_cli/_infrastructure/modules/tf_globals/lambda_layers/boxsdk[jwt]==2.6.1_dependencies.zip
  streamalert_cli/_infrastructure/modules/tf_globals/lambda_layers/boxsdk[jwt]==2.9.0_dependencies.zip
  streamalert_cli/_infrastructure/modules/tf_globals/main.tf
  streamalert_cli/manage_lambda/package.py
  tests/scripts/update_reqs.sh
  tests/unit/streamalert/alert_processor/helpers.py
  tests/unit/streamalert/alert_processor/outputs/credentials/test_provider.py
  tests/unit/streamalert/shared/lookup_tables/test_core.py
  tests/unit/streamalert/shared/lookup_tables/test_driver_dynamodb.py
  tests/unit/streamalert/shared/test_aws_api_client.py
Labels: dependencies

#1274 [core][apps] Increase aliyun timeout
  streamalert/apps/_apps/aliyun.py
  tests/unit/streamalert/apps/test_apps/test_aliyun.py
Labels: apps

#1276 proper cloudwatch events permissions for cross account access
  docs/source/config-clusters.rst
  streamalert_cli/_infrastructure/modules/tf_cloudwatch_events/cross_account/README.md
  streamalert_cli/_infrastructure/modules/tf_cloudwatch_events/cross_account/main.tf
  streamalert_cli/_infrastructure/modules/tf_cloudwatch_events/cross_account/variables.tf
  streamalert_cli/_infrastructure/modules/tf_cloudwatch_events/main.tf
  streamalert_cli/terraform/cloudwatch_events.py
  tests/unit/streamalert_cli/terraform/test_generate.py
Labels: documentation, terraform

#1279 fix copying of terraform to include zips for lambda layers
  streamalert_cli/terraform/generate.py
Labels: deployment

#1280 cloudtrail module config tweak
  docs/source/config-clusters.rst
  streamalert_cli/terraform/cloudtrail.py
  streamalert_cli/terraform/flow_logs.py
  tests/unit/streamalert_cli/terraform/test_generate.py
Labels: config, terraform
