Repository airbnb/streamalert, pull requests merged in 2020-05, with the labels that each got.

#1242 Add record id to artifacts and record
  publishers/community/generic.py
  streamalert/artifact_extractor/artifact_extractor.py
  streamalert/shared/normalize.py
  tests/unit/streamalert/artifact_extractor/helpers.py
  tests/unit/streamalert/artifact_extractor/test_artifact_extractor.py
  tests/unit/streamalert/artifact_extractor/test_main.py
  tests/unit/streamalert/rules_engine/test_threat_intel.py
  tests/unit/streamalert/shared/test_normalizer.py
  tests/unit/streamalert_cli/athena/test_helpers.py
  tests/unit/streamalert_cli/terraform/test_artifact_extractor.py
Labels: data normalization

#1244 Supports dynamic parameters
  docs/source/scheduled-queries.rst
  streamalert/scheduled_queries/query_packs/configuration.py
  streamalert/scheduled_queries/query_packs/manager.py
  streamalert/scheduled_queries/query_packs/parameters.py
  streamalert_cli/_infrastructure/modules/tf_scheduled_queries/outputs.tf
  streamalert_cli/terraform/generate.py
  tests/unit/streamalert/scheduled_queries/query_packs/test_manager.py
Labels: streamquery

#1245 Normalization reboot - Add condition support to normalizer
  docs/source/normalization.rst
  streamalert/artifact_extractor/artifact_extractor.py
  streamalert/shared/normalize.py
  streamalert_cli/terraform/generate.py
  tests/unit/streamalert/shared/test_normalizer.py
  tests/unit/streamalert_cli/terraform/test_generate.py
Labels: data normalization

#1247 [apps][aliyun] Set EndTime in the request
  streamalert/apps/_apps/aliyun.py
Labels: apps, bug
