Repository airbnb/streamalert, pull requests merged in 2020-02, with the labels that each got.

#1121 [testing] Setting other AWS variables during testing
  tests/scripts/unit_tests.sh
Labels: tests

#1127 [rules] Add community rule to detect ssh login activity based on osquery events
  rules/community/guardduty/guard_duty_all.py
  rules/community/osquery/__init__.py
  rules/community/osquery/ssh_login_activity.py
  rules/matchers/matchers.py
  tests/integration/rules/osquery/ssh_login_activity.json
Labels: rules

#1129 [schemas] adding alias field to duo auth logs schema
  conf/schemas/duo.json
  streamalert/apps/_apps/duo.py
  tests/integration/rules/duo/duo_anonymous_ip_failure.json
  tests/integration/rules/duo/duo_fraud.json
  tests/unit/streamalert/apps/test_apps/test_duo.py
Labels: log schemas

#1122 Fix bug with default value for firehose use_prefix
  streamalert/classifier/clients/firehose.py
  streamalert_cli/terraform/classifier.py
Labels: bug

#1128 Ports over internal StreamQuery code; integrates into manage.py
  conf/scheduled_queries.json
  conf/schemas/streamquery.json
  docs/source/index.rst
  docs/source/scheduled-queries.rst
  scheduled_queries/__init__.py
  scheduled_queries/sample/__init__.py
  scheduled_queries/sample/athena.py
  streamalert/scheduled_queries/__init__.py
  streamalert/scheduled_queries/command/__init__.py
  streamalert/scheduled_queries/command/application.py
  streamalert/scheduled_queries/command/processor.py
  streamalert/scheduled_queries/config/__init__.py
  streamalert/scheduled_queries/config/lambda_conf.py
  streamalert/scheduled_queries/config/services.py
  streamalert/scheduled_queries/container/__init__.py
  streamalert/scheduled_queries/container/container.py
  streamalert/scheduled_queries/handlers/__init__.py
  streamalert/scheduled_queries/handlers/athena.py
  streamalert/scheduled_queries/main.py
  streamalert/scheduled_queries/query_packs/__init__.py
  streamalert/scheduled_queries/query_packs/configuration.py
  streamalert/scheduled_queries/query_packs/manager.py
  streamalert/scheduled_queries/query_packs/parameters.py
  streamalert/scheduled_queries/state/__init__.py
  streamalert/scheduled_queries/state/state_manager.py
  streamalert/scheduled_queries/streamalert/__init__.py
  streamalert/scheduled_queries/streamalert/kinesis.py
  streamalert/scheduled_queries/support/__init__.py
  streamalert/scheduled_queries/support/clock.py
  streamalert_cli/manage_lambda/deploy.py
  streamalert_cli/manage_lambda/package.py
  streamalert_cli/terraform/generate.py
  streamalert_cli/terraform/scheduled_queries.py
  streamalert_cli/utils.py
  terraform/modules/tf_scheduled_queries/cloudwatch_schedule.tf
  terraform/modules/tf_scheduled_queries/iam_roles.tf
  terraform/modules/tf_scheduled_queries/lambda.tf
  terraform/modules/tf_scheduled_queries/step_function.tf
  terraform/modules/tf_scheduled_queries/variables.tf
  terraform/modules/tf_scheduled_queries/versions.tf
  tests/unit/streamalert/scheduled_queries/__init__.py
  tests/unit/streamalert/scheduled_queries/command/__init__.py
  tests/unit/streamalert/scheduled_queries/command/test_processor.py
  tests/unit/streamalert/scheduled_queries/container/__init__.py
  tests/unit/streamalert/scheduled_queries/container/test_container.py
  tests/unit/streamalert/scheduled_queries/handlers/__init__.py
  tests/unit/streamalert/scheduled_queries/handlers/test_athena.py
  tests/unit/streamalert/scheduled_queries/query_packs/__init__.py
  tests/unit/streamalert/scheduled_queries/query_packs/test_configuration.py
  tests/unit/streamalert/scheduled_queries/query_packs/test_manager.py
  tests/unit/streamalert/scheduled_queries/state/.gitignore
  tests/unit/streamalert/scheduled_queries/state/__init__.py
  tests/unit/streamalert/scheduled_queries/state/test_state_manager.py
  tests/unit/streamalert/scheduled_queries/streamalert/__init__.py
  tests/unit/streamalert/scheduled_queries/streamalert/test_kinesis.py
Labels: historical search, improvement, large

#1131 [terraform] switching to state lock table being managed by terraform
  streamalert_cli/terraform/generate.py
  streamalert_cli/terraform/handlers.py
  streamalert_cli/terraform/helpers.py
  tests/unit/streamalert_cli/terraform/test_generate.py
  tests/unit/streamalert_cli/terraform/test_helpers.py
Labels: terraform

#1133 Official release of StreamQuery, StreamAlert's scheduled query service
  conf/scheduled_queries.json
  conf/schemas/streamquery.json
  docs/source/historical-search.rst
  docs/source/index.rst
  docs/source/scheduled-queries.rst
  scheduled_queries/__init__.py
  scheduled_queries/sample/__init__.py
  scheduled_queries/sample/athena.py
  streamalert/scheduled_queries/__init__.py
  streamalert/scheduled_queries/command/__init__.py
  streamalert/scheduled_queries/command/application.py
  streamalert/scheduled_queries/command/processor.py
  streamalert/scheduled_queries/config/__init__.py
  streamalert/scheduled_queries/config/lambda_conf.py
  streamalert/scheduled_queries/config/services.py
  streamalert/scheduled_queries/container/__init__.py
  streamalert/scheduled_queries/container/container.py
  streamalert/scheduled_queries/handlers/__init__.py
  streamalert/scheduled_queries/handlers/athena.py
  streamalert/scheduled_queries/main.py
  streamalert/scheduled_queries/query_packs/__init__.py
  streamalert/scheduled_queries/query_packs/configuration.py
  streamalert/scheduled_queries/query_packs/manager.py
  streamalert/scheduled_queries/query_packs/parameters.py
  streamalert/scheduled_queries/state/__init__.py
  streamalert/scheduled_queries/state/state_manager.py
  streamalert/scheduled_queries/streamalert/__init__.py
  streamalert/scheduled_queries/streamalert/kinesis.py
  streamalert/scheduled_queries/support/__init__.py
  streamalert/scheduled_queries/support/clock.py
  streamalert_cli/manage_lambda/deploy.py
  streamalert_cli/manage_lambda/package.py
  streamalert_cli/terraform/generate.py
  streamalert_cli/terraform/scheduled_queries.py
  streamalert_cli/utils.py
  terraform/modules/tf_scheduled_queries/cloudwatch_schedule.tf
  terraform/modules/tf_scheduled_queries/iam_roles.tf
  terraform/modules/tf_scheduled_queries/lambda.tf
  terraform/modules/tf_scheduled_queries/step_function.tf
  terraform/modules/tf_scheduled_queries/variables.tf
  terraform/modules/tf_scheduled_queries/versions.tf
  tests/unit/streamalert/scheduled_queries/__init__.py
  tests/unit/streamalert/scheduled_queries/command/__init__.py
  tests/unit/streamalert/scheduled_queries/command/test_processor.py
  tests/unit/streamalert/scheduled_queries/container/__init__.py
  tests/unit/streamalert/scheduled_queries/container/test_container.py
  tests/unit/streamalert/scheduled_queries/handlers/__init__.py
  tests/unit/streamalert/scheduled_queries/handlers/test_athena.py
  tests/unit/streamalert/scheduled_queries/query_packs/__init__.py
  tests/unit/streamalert/scheduled_queries/query_packs/test_configuration.py
  tests/unit/streamalert/scheduled_queries/query_packs/test_manager.py
  tests/unit/streamalert/scheduled_queries/state/.gitignore
  tests/unit/streamalert/scheduled_queries/state/__init__.py
  tests/unit/streamalert/scheduled_queries/state/test_state_manager.py
  tests/unit/streamalert/scheduled_queries/streamalert/__init__.py
  tests/unit/streamalert/scheduled_queries/streamalert/test_kinesis.py
Labels: large, new feature, streamquery

#1139 [docs] Updating the documentation for dynamic_outputs
  docs/source/dynamic-outputs.rst
  docs/source/rules.rst
Labels: alerting outputs, documentation

#1141 [docs] Fixing docstring within method
  streamalert/alert_processor/outputs/teams.py
Labels: alerting outputs, documentation

#1142 [core] Moved the secret_store from S3 to SSM
  streamalert/alert_processor/outputs/credentials/provider.py
  streamalert/shared/helpers/aws_api_client.py
  streamalert_cli/terraform/generate.py
  terraform/modules/tf_alert_processor_iam/main.tf
  tests/unit/helpers/aws_mocks.py
  tests/unit/streamalert/alert_processor/helpers.py
  tests/unit/streamalert/alert_processor/outputs/credentials/test_provider.py
  tests/unit/streamalert/alert_processor/outputs/test_output_base.py
  tests/unit/streamalert/shared/test_aws_api_client.py
  tests/unit/streamalert_cli/terraform/test_generate.py
Labels: alerting outputs, improvement, medium

#1147 Follow up PR to SSM migration
  docs/source/outputs.rst
  streamalert/alert_processor/outputs/credentials/provider.py
  terraform/modules/tf_alert_processor_iam/main.tf
  tests/unit/streamalert/alert_processor/outputs/test_output_base.py
Labels: alerting outputs, improvement

#1138 [cli] Added additional commands to outputs
  streamalert_cli/helpers.py
  streamalert_cli/outputs/handler.py
  streamalert_cli/outputs/helpers.py
  streamalert_cli/utils.py
Labels: alerting outputs, cli

#1145 [Logs] Packetbeat
  conf/clusters/prod.json
  conf/schemas/packetbeat.json
  rules/community/packetbeat/__init__.py
  rules/community/packetbeat/packetbeat_blacklist_domain.py
  rules/community/packetbeat/packetbeat_blacklist_ip.py
  rules/community/packetbeat/packetbeat_dns_lookup.py
  tests/integration/rules/packetbeat/packetbeat_bad_actions.json
  tests/integration/rules/packetbeat/packetbeat_schema.json
Labels: log schemas

#1163 fixing bug related to athena data bucket not existing
  streamalert/shared/config.py
  streamalert_cli/athena/handler.py
  streamalert_cli/terraform/rule_promotion.py
  terraform/modules/tf_rule_promotion_iam/main.tf
  terraform/modules/tf_rule_promotion_iam/variables.tf
  tests/unit/helpers/config.py
  tests/unit/streamalert_cli/terraform/test_rule_promotion.py
Labels: bug, deployment

#1150 [bug] fixing bug with building resources as targets
  streamalert_cli/terraform/handlers.py
Labels: bug, cli, terraform

#1168 [core] Added button ability to teams output
  streamalert/alert_processor/outputs/teams.py
  tests/unit/streamalert/alert_processor/outputs/test_teams.py
Labels: alerting outputs, improvement

#1174 [docs] fixing venv module usage typo
  docs/source/getting-started.rst
  streamalert/apps/_apps/README.rst
Labels: documentation
