Repository airbnb/streamalert, pull requests merged in 2020-06, with the labels that each got.

#1252 updating cli description for supplying test files
  streamalert_cli/test/handler.py
Labels: cli, improvement

#1253 support for packaging user specified conf directory
  streamalert_cli/config.py
  streamalert_cli/manage_lambda/package.py
  tests/unit/streamalert_cli/manage_lambda/test_package.py
Labels: cli, config, deployment

#1256 omitting coveralls runs for PRs from forks
  .github/workflows/ci.yml
Labels: build/test

#1257 another attempt to fix coverage in forks..
  .github/workflows/ci.yml
Labels: build/test

#1263 [config] Add Okta log schema
  conf/clusters/prod.json
  conf/schemas/okta.json
  rules/community/okta/__init__.py
  rules/community/okta/okta_new_login.json
Labels: log schemas

#1260 Add additional G-Suite Admin Audit types.
  streamalert/apps/_apps/gsuite.py
  tests/unit/streamalert/apps/test_apps/test_app_base.py
Labels: apps

#1262 [core] fix bug when normalization config empty
  docs/images/artifacts.png
  docs/images/cloudwatch_events.png
  docs/images/join_search.png
  docs/source/normalization.rst
  streamalert/shared/normalize.py
  tests/unit/streamalert/shared/test_normalizer.py
Labels: bug, data normalization
