Repository airbnb/streamalert, pull requests merged in 2020-04, with the labels that each got.

#1217 migrating Athena function to use tf_lambda module
  conf/lambda.json
  docs/source/architecture.rst
  docs/source/getting-started.rst
  docs/source/historical-search.rst
  streamalert/athena_partitioner/__init__.py
  streamalert/athena_partitioner/main.py
  streamalert/rule_promotion/promoter.py
  streamalert/shared/__init__.py
  streamalert/shared/athena.py
  streamalert/shared/config.py
  streamalert/shared/metrics.py
  streamalert/shared/utils.py
  streamalert_cli/_infrastructure/modules/tf_athena/README.md
  streamalert_cli/_infrastructure/modules/tf_athena/iam.tf
  streamalert_cli/_infrastructure/modules/tf_athena/kms.tf
  streamalert_cli/_infrastructure/modules/tf_athena/main.tf
  streamalert_cli/_infrastructure/modules/tf_athena/outputs.tf
  streamalert_cli/_infrastructure/modules/tf_athena/variables.tf
  streamalert_cli/athena/handler.py
  streamalert_cli/config.py
  streamalert_cli/manage_lambda/deploy.py
  streamalert_cli/manage_lambda/package.py
  streamalert_cli/manage_lambda/rollback.py
  streamalert_cli/terraform/athena.py
  streamalert_cli/terraform/generate.py
  streamalert_cli/terraform/handlers.py
  streamalert_cli/terraform/rule_promotion.py
  streamalert_cli/terraform/scheduled_queries.py
  tests/unit/conf/lambda.json
  tests/unit/conf_athena/lambda.json
  tests/unit/helpers/config.py
  tests/unit/streamalert/athena_partitioner/__init__.py
  tests/unit/streamalert/athena_partitioner/test_main.py
  tests/unit/streamalert/shared/test_athena.py
  tests/unit/streamalert_cli/manage_lambda/test_rollback.py
  tests/unit/streamalert_cli/terraform/test_athena.py
  tests/unit/streamalert_cli/terraform/test_generate.py
  tests/unit/streamalert_cli/terraform/test_rule_promotion.py
  tests/unit/streamalert_cli/test_cli_config.py
Labels: athena, tech debt

#1219 official release of v3.1.2
  streamalert/__init__.py
  streamalert/shared/config.py
  streamalert_cli/terraform/athena.py
  streamalert_cli/terraform/scheduled_queries.py
  tests/unit/conf/scheduled_queries.json
  tests/unit/streamalert_cli/terraform/test_scheduled_queries.py
Labels: athena, bug, streamquery

#1220 fix terraform targets for athena deploy
  streamalert_cli/manage_lambda/deploy.py
Labels: athena, deployment

#1226 fixing cylce and index bug in tf_lambda module
  streamalert_cli/_infrastructure/modules/tf_lambda/cloudwatch.tf
  streamalert_cli/_infrastructure/modules/tf_lambda/iam.tf
  streamalert_cli/_infrastructure/modules/tf_lambda/main.tf
Labels: bug, terraform

#1228 Adds missing netaddr lib to rule promo
  streamalert_cli/manage_lambda/package.py
Labels: bug

#1227 Implements a v2 Lambda Output with AssumeRole
  conf/outputs.json
  docs/source/outputs.rst
  streamalert/alert_processor/outputs/aws.py
  tests/unit/streamalert/alert_processor/outputs/test_aws.py
  tests/unit/streamalert/alert_processor/outputs/test_output_base.py
Labels: alerting outputs

#1229 adding terraform references for some buckets
  streamalert/shared/config.py
  streamalert_cli/_infrastructure/modules/tf_kinesis_firehose_setup/outputs.tf
  streamalert_cli/terraform/athena.py
  streamalert_cli/terraform/scheduled_queries.py
  tests/unit/streamalert_cli/terraform/test_athena.py
  tests/unit/streamalert_cli/terraform/test_scheduled_queries.py
Labels: bug, terraform

#1233 doc update for third_party_libraries info
  docs/source/config-global.rst
Labels: documentation

#1230 Normalization reboot - Artifacts inventory
  conf/lambda.json
  docs/source/index.rst
  docs/source/normalization.rst
  streamalert/artifact_extractor/__init__.py
  streamalert/artifact_extractor/artifact_extractor.py
  streamalert/artifact_extractor/main.py
  streamalert/classifier/classifier.py
  streamalert/classifier/clients/__init__.py
  streamalert/shared/__init__.py
  streamalert/shared/firehose.py
  streamalert_cli/athena/handler.py
  streamalert_cli/athena/helpers.py
  streamalert_cli/manage_lambda/deploy.py
  streamalert_cli/terraform/firehose.py
  streamalert_cli/utils.py
  tests/unit/streamalert/artifact_extractor/__init__.py
  tests/unit/streamalert/artifact_extractor/helpers.py
  tests/unit/streamalert/artifact_extractor/test_artifact_extractor.py
  tests/unit/streamalert/artifact_extractor/test_main.py
  tests/unit/streamalert/classifier/clients/test_firehose.py
  tests/unit/streamalert_cli/athena/test_handler.py
  tests/unit/streamalert_cli/athena/test_helpers.py
Labels: data normalization

#1235 add two lambda layers to improve deploy time
  streamalert/_vendored/README.rst
  streamalert/_vendored/boxsdk[jwt]==2.6.1_dependencies.zip
  streamalert_cli/_infrastructure/modules/tf_globals/lambda_layers/README.rst
  streamalert_cli/_infrastructure/modules/tf_globals/lambda_layers/boxsdk[jwt]==2.6.1_dependencies.zip
  streamalert_cli/_infrastructure/modules/tf_globals/main.tf
  streamalert_cli/_infrastructure/modules/tf_globals/output.tf
  streamalert_cli/_infrastructure/modules/tf_lambda/main.tf
  streamalert_cli/_infrastructure/modules/tf_lambda/variables.tf
  streamalert_cli/manage_lambda/package.py
  streamalert_cli/terraform/apps.py
  streamalert_cli/terraform/lambda_module.py
Labels: deployment, improvement

#1236 official release of v3.2.1
  streamalert/__init__.py
  streamalert/_vendored/README.rst
  streamalert/_vendored/boxsdk[jwt]==2.6.1_dependencies.zip
  streamalert_cli/_infrastructure/modules/tf_globals/lambda_layers/README.rst
  streamalert_cli/_infrastructure/modules/tf_globals/lambda_layers/boxsdk[jwt]==2.6.1_dependencies.zip
  streamalert_cli/_infrastructure/modules/tf_globals/main.tf
  streamalert_cli/_infrastructure/modules/tf_globals/output.tf
  streamalert_cli/_infrastructure/modules/tf_lambda/main.tf
  streamalert_cli/_infrastructure/modules/tf_lambda/variables.tf
  streamalert_cli/manage_lambda/package.py
  streamalert_cli/terraform/apps.py
  streamalert_cli/terraform/lambda_module.py
Labels: release

#1238 Normalization reboot - Refactor normalization code
  conf/schemas/carbonblack.json
  conf/schemas/cloudwatch.json
  conf/schemas/osquery.json
  docs/images/artifacts.png
  docs/images/cloudwatch_events.png
  docs/images/normalization-arch.png
  docs/source/normalization.rst
  rules/community/mitre_attack/defense_evasion/multi/obfuscated_files_or_information/right_to_left_character.py
  streamalert/artifact_extractor/artifact_extractor.py
  streamalert/classifier/classifier.py
  streamalert/shared/normalize.py
  streamalert_cli/_infrastructure/modules/tf_artifact_extractor/iam.tf
  streamalert_cli/_infrastructure/modules/tf_kinesis_firehose_setup/iam.tf
  streamalert_cli/athena/helpers.py
  streamalert_cli/terraform/artifact_extractor.py
  streamalert_cli/terraform/firehose.py
  tests/unit/streamalert/artifact_extractor/helpers.py
  tests/unit/streamalert/artifact_extractor/test_artifact_extractor.py
  tests/unit/streamalert/artifact_extractor/test_main.py
  tests/unit/streamalert/classifier/test_classifier.py
  tests/unit/streamalert/shared/test_normalizer.py
  tests/unit/streamalert_cli/terraform/test_artifact_extractor.py
Labels: data normalization

#1239 Demisto Playbooks
  publishers/sample/__init__.py
  publishers/sample/sample_demisto.py
  rules/sample/__init__.py
  rules/sample/sample_demisto.json
  rules/sample/sample_demisto.py
  streamalert/alert_processor/outputs/demisto.py
  tests/unit/streamalert/alert_processor/outputs/test_demisto.py
Labels: alert publishers, alerting outputs
